<template>
  <div class="m-contacts">
    <div v-for="(contact, index) in contacts" :key="index" class="m-contacts__contact">
      <ValidationObserver v-slot="{ validate }" class="m-contacts__contact__fields">
        <FieldInput
          v-model="contact.firstName"
          :name="$t('ui.contacts.first_name')"
          :alias="`${index}_first-name`"
          type="text"
          rules="required"
        />
        <FieldInput
          v-model="contact.lastName"
          :name="$t('ui.contacts.last_name')"
          :alias="`${index}_last-name`"
          type="text"
          rules="required"
        />
        <FieldInput
          v-model="contact.phone"
          :name="$t('ui.contacts.phone')"
          :alias="`${index}_phone`"
          type="text"
          :rules="`max:25|phone|required_if_empty:@${$t('ui.contacts.email')}`"
          @change="validate"
        />
        <FieldInput
          v-model="contact.email"
          :name="$t('ui.contacts.email')"
          :alias="`${index}_email`"
          type="text"
          :rules="`email|max:64|required_if_empty:@${$t('ui.contacts.phone')}`"
          @change="validate"
        />
        <FieldInput
          v-model="contact.address.street"
          :name="$t('ui.contacts.street')"
          :alias="`${index}_street`"
          type="text"
          rules=""
        />
        <FieldInput
          v-model="contact.address.houseNumber"
          :name="$t('ui.contacts.house_number')"
          :alias="`${index}_house-number`"
          type="text"
          rules=""
        />
        <FieldInput
          v-model="contact.address.zip"
          :name="$t('ui.contacts.zip')"
          :alias="`${index}_zip`"
          type="text"
          rules="min:5|max:5|numeric|regex:[0-9]{5}"
        />
        <FieldInput
          v-model="contact.address.city"
          :name="$t('ui.contacts.city')"
          :alias="`${index}_city`"
          type="text"
          rules=""
        />
        <div class="m-contacts__contact__remove" @click.prevent="() => removeContact(index)">
          <font-awesome-icon icon="times" />
        </div>
      </ValidationObserver>
    </div>
    <Button @click.native.prevent="addContact">
      <font-awesome-icon icon="plus" />
    </Button>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import Button from '@/components/elements/Button.vue'
import FieldInput from '~/components/elements/fields/FieldInput.vue'
import { Field } from '~/types/form/Field'

interface VueTypeDef {
  contacts: Array<{ firstName: string, lastName: string, phone?: string, email?: string, address: { street?: string, houseNumber?: string, zip?: string, city?: string } }>
}

export default Vue.extend({
  name: 'Contacts',
  components: {
    Button,
    FieldInput,
  },
  props: {
    storeKey: {
      type: String,
      required: true,
    },
    field: {
      type: Object as PropType<Field<string, string, {}>>,
      required: true,
    },
  },
  data (): VueTypeDef {
    return {
      contacts: [],
    }
  },
  computed: {
    contactData () {
      return [...this.$store.getters[this.storeKey + '/getField']('data.' + this.field.key)].map(obj => ({ ...obj, address: { ...obj.address } }))
    },
  },
  watch: {
    contacts: {
      handler (): void {
        this.updateContacts()
      },
      deep: true,
    },
  },
  beforeMount () {
    this.contacts = (this.contactData && this.contactData.length > 0)
      ? this.contactData
      : [{
          firstName: '',
          lastName: '',
          phone: '',
          email: '',
          address: {
            street: '',
            zip: '',
            houseNumber: '',
            city: '',
          },
        }]
  },
  methods: {
    addContact () {
      this.contacts = [...this.contacts, {
        firstName: '',
        lastName: '',
        phone: '',
        email: '',
        address: {
          street: '',
          zip: '',
          houseNumber: '',
          city: '',
        },
      }]
    },
    removeContact (index: number) {
      this.contacts.splice(index, 1)
    },
    updateContacts () {
      (this as any).$emit('change', this.contacts)
      return this.$store.commit(this.storeKey + '/updateField', {
        path: 'data.' + this.field.key,
        value: [...this.contacts].map(obj => ({ ...obj, address: { ...obj.address } })),
      })
    },
  },
})
</script>

<style lang="scss">
  @import "~@/assets/styles/core";

  .m-contacts {
    &__contact {
      margin-bottom: 1.5rem;

      &__fields {
        display: grid;
        grid-template-columns: repeat(4, 1fr) 1rem;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0.5rem;

        .m-contacts__contact__remove {
          cursor: pointer;
          display: flex;
          align-items: center;
          grid-column-start: 5;
          grid-row-start: 1;
          grid-row-end: span 2;
        }
      }
    }
  }

  @media (max-width: 50rem) {
    .m-contacts {
      &__contact {
        margin-bottom: 2rem;
        &__fields {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          justify-content: flex-start;
        }
      }
    }
  }
</style>
