<template>
  <div v-if="emailData">
    <div class="result-display">
      <dl class="result-display__headers">
        <dt>
          <span class="result-display__header">
            {{ $t(`pages.${formId}.result-display.subject`) }}
          </span>
          <button class="result-display__copy" @click="copyToClipboard(subject)">
            <font-awesome-icon icon="clone" />
            {{ $t(`pages.${formId}.result-display.copy-to-clipboard`) }}
          </button>
        </dt>
        <dd>{{ subject }}</dd>
        <dt>
          <span class="result-display__header">
            {{ $t(`pages.${formId}.result-display.recipient`) }}
          </span>
          <button class="result-display__copy" @click="copyToClipboard(recipient)">
            <font-awesome-icon icon="clone" />
            {{ $t(`pages.${formId}.result-display.copy-to-clipboard`) }}
          </button>
        </dt>
        <dd>{{ recipient }}</dd>
        <dt>
          <span class="result-display__header">
            {{ $t(`pages.${formId}.result-display.message`) }}
          </span>
          <button class="result-display__copy" @click="copyToClipboard(body)">
            <font-awesome-icon icon="clone" />
            {{ $t(`pages.${formId}.result-display.copy-to-clipboard`) }}
          </button>
        </dt>
        <dd v-if="hasCSVAttachment">
          <div class="result-display__download" @click="download">
            <font-awesome-icon :icon="['fas', 'paperclip']" /> {{ emailData.csvAttachment.fileName }}
          </div>
        </dd>
        <!-- eslint-disable-next-line vue/no-v-html -->
        <dd class="result-display__message" v-html="nl2br(body)" />
      </dl>
      <div />
    </div>
    <div class="result-display__buttons">
      <Button
        tag="a"
        :to="mailto"
        theme="primary"
        icon="external-link-alt"
        width="extrawide"
        :link="true"
        :external="true"
      >
        {{ $t(`pages.${formId}.result-display.mailto`) }}
      </Button>
      <Button
        tag="a"
        :to="localePath(formBaseLink)"
        theme="ghost"
        width="extrawide"
        :link="true"
      >
        {{ $t(`pages.${formId}.result-display.reset_data`) }}
      </Button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import copyToClipboard from 'copy-to-clipboard'
import Papa from 'papaparse'
import * as FS from 'file-saver'
import Button from '@/components/elements/Button.vue'

export default Vue.extend({
  name: 'EmailDisplay',
  components: {
    Button,
  },
  props: {
    responseData: {
      type: Object as PropType<any>,
      default: null,
    },
    formId: {
      type: String,
      required: true,
    },
  },
  computed: {
    emailData (): any {
      return this.responseData.data
    },
    recipient (): string {
      return this.emailData.healthOfficeEmail
    },
    subject (): string {
      if (process.env.NODE_ENV !== 'production') {
        return `[TEST] ${this.emailData.subject}`
      }
      return this.emailData.subject
    },
    body (): string {
      if (!this.emailData.body) {
        return ''
      }
      return this.reduceWhitespace(this.emailData.body)
    },
    mailto (): string {
      const recipient = encodeURIComponent(this.recipient)
      const subject = encodeURIComponent(this.subject)
      const body = encodeURIComponent(this.body)
      return `mailto:${recipient}?subject=${subject}&body=${body}`
    },
    formBaseLink (): string {
      return `/forms/${this.formId}?startOver=true`
    },
    hasCSVAttachment (): boolean {
      return this.emailData.csvAttachment
    },
  },
  methods: {
    reduceWhitespace (plain: string): string {
      return plain.replace(/ {2,}/g, ' ')
    },
    nl2br (plain: string): string {
      return plain.replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1<br>$2')
    },
    copyToClipboard,
    download (): void {
      if (!this.emailData.csvAttachment) {
        return
      }
      const dataCSV = Papa.unparse(this.emailData.csvAttachment.contentData, {
        quotes: true,
        quoteChar: '"',
        delimiter: ',',
        newline: '\r\n',
        header: true,
        escapeFormulae: true,
      })
      if (!dataCSV) {
        return
      }
      const blob = new Blob([dataCSV], { type: 'text/csv;charset=utf-8' })
      FS.saveAs(blob, this.emailData.csvAttachment.fileName)
    },
  },
})
</script>

<style lang="scss">
  @import "~@/assets/styles/core";

  .result-display {
    border-top: 1px solid $color-light;
    border-bottom: 1px solid $color-light;
    border-radius: 0;
    padding: 1rem 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .result-display__headers {
    margin-top: 0;

    dt {
      font-size: 0.875rem;
      color: #828282;
      display: flex;
      justify-content: space-between;

      &:not(:first-child) {
        padding-top: 1rem;
      }
    }

    dd {
      margin: 0.5rem 0 0 0;
      display: block;
      color: #333333;
      font-size: 1.125rem;

      &:not(:last-of-type) {
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-light;
      }
    }
  }

  .result-display__copy {
    color: $contrast-primary;
    appearance: none;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.2s ease-out;
    background-color: $color-primary;
    border-radius: $border-radius;
    font-size: 0.75rem;

    &:hover, &:focus {
      box-shadow: 0 0 0 2px darken($color-primary, 10%);
    }

    svg {
      margin-right: 0.5em;
    }
  }

  .result-display__message p {
    font-size: 1rem !important;
  }

  .result-display__buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    max-width: 30rem;
    margin-left: auto;

    @media (max-width: 40rem) {
      align-items: center;
      .e-button, .e-button.e-button--width-extrawide {
        min-width: 15rem;
      }
    }

    a {
      margin: 0.5rem;
      text-align: left;
    }
  }
  .result-display__download {
    cursor: pointer;
  }
</style>
