<template>
  <div class="e-form-progress-bar">
    <div
      v-for="(step, index) in Object.values(progress)"
      :key="step.key"
      :class="{
        'e-form-progress-bar__item': true,
        'e-form-progress-bar__item--no-text': !step.titleVisible,
        'e-form-progress-bar__item--active': isActive(index)
      }"
    >
      {{ step.titleVisible ? $t(step.title) : '' }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { PROGRESS_STEP_IDS } from '~/content/forms'

export default Vue.extend({
  name: 'FormProgressBar',
  props: {
    progress: {
      type: Object as PropType<Record<string, any>>,
      required: true,
    },
    currentStepKey: {
      type: String as unknown as PropType<PROGRESS_STEP_IDS>,
      default: undefined,
      validator: (v?: any) => !v || Object.values(PROGRESS_STEP_IDS).includes(v),
    },
  },
  computed: {
    currentStepIndex (): number {
      return Object.values(this.progress).findIndex((step: any) => {
        return this.currentStepKey === step.key
      })
    },
  },
  methods: {
    isActive (index: number): boolean {
      return this.currentStepIndex >= index
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .e-form-progress-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__item {
      background-color: $color-light;
      color: #5F5F5F;
      padding: 0.5rem 2rem;
      border-radius: $border-radius;
      flex: 0 0 1rem;
      transition: all 600ms ease-in-out;
      white-space: nowrap;
      & + & {
        margin-left: 1rem;
      }
      &--no-text {
        width: 1rem;
        height: 1rem;
        padding: 0;
      }
      &--active {
        background-color: $color-primary;
        color: $color-text;
      }
    }
  }

  @media (max-width: 50rem) {
    .e-form-progress-bar__item {
      display: block;
      max-width: 1rem;
      height: 1rem;
      overflow: hidden;
      padding: 0;
      color: $color-light;
      &--active {
        color: $color-primary;
      }
    }
  }
</style>
