<template>
  <div class="m-form-reviewer">
    <table class="m-form-reviewer__table">
      <tr
        v-for="(field, index) in displayedFields"
        :key="index"
        class="m-form-reviewer__field"
      >
        <th class="m-form-reviewer__field-name">
          {{ field.title || $t(`pages.${formId}.fields.${field.alias}.name`) }}
        </th>
        <td class="m-form-reviewer__field-value">
          <template v-if="field.type === 'date'">
            <template v-if="field.value && typeof field.value === 'string'">
              {{ formatDate(field.value) }}
            </template>
            <template v-else>
              -
            </template>
          </template>
          <template v-else-if="field.type === 'radio' || field.type === 'switch'">
            {{ getCaption(field.alias, field.choices, field.value) }}
          </template>
          <template v-else-if="field.type === 'checkbox'">
            <template v-if="Array.isArray(field.value)">
              <div v-if="field.value.length > 0" class="m-form-reviewer__tags">
                <span
                  v-for="value in field.value"
                  :key="value"
                  class="m-form-reviewer__tag"
                >
                  {{ getCaption(field.alias, field.choices, value) }}
                </span>
              </div>
              <span v-else>{{ $t('ui.form-reviewer.empty') }}</span>
            </template>
            <template v-else>
              {{ getCaption(field.alias, field.choices, field.value) }}
            </template>
          </template>
          <template v-else>
            <template v-if="field.value">
              {{ field.value }}
            </template>
            <template v-else>
              -
            </template>
          </template>
        </td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import dayjs from 'dayjs'
import customParseFormat from 'dayjs/plugin/customParseFormat'

interface Option {
  value: string,
  alias: string,
  icon?: string,
}

interface Field {
  alias: string,
  value: any,
  key: string,
  type: 'text' | 'textarea' | 'date' | 'switch' | 'radio' | 'checkbox' | 'component',
  rules?: string,
  options?: Array<Option>,
  hidden?: () => boolean,
  stepId: string
}

interface AdditionalField {
  title: string,
  value: string,
  type: 'artificial'
}

dayjs.extend(customParseFormat)

export default Vue.extend({
  name: 'FormReviewer',
  components: {},
  props: {
    fields: {
      type: Array as PropType<Array<Field>>,
      required: true,
    },
    storeKey: {
      type: String,
      required: true,
    },
    formId: {
      type: String,
      required: true,
    },
    additionalFields: {
      type: Array as PropType<Array<AdditionalField>>,
      default: () => [],
    },
  },
  computed: {
    displayedFields () {
      return [...this.fields.filter((field) => {
        return !(this as any).isFieldHidden(field, (this as any).$store)
      }), ...this.additionalFields]
    },
  },
  methods: {
    getCaption (fieldAlias: string, options: Array<any>, value: any): string {
      const selected = options.find(option => option.value === value)
      if (selected && selected.alias) {
        return (this as any).$t(`pages.${this.formId}.fields.${fieldAlias}.options.${selected.alias}.caption`) as string
      }
      return '?'
    },
    formatDate (value: any): string {
      const germanDate = dayjs(value, 'DD.MM.YYYY')
      if (germanDate.isValid()) {
        return value
      }
      const date = dayjs(value)
      if (date.isValid()) {
        return date.format('DD.MM.YYYY')
      }
      return '-'
    },
    isFieldHidden (field: any, store: any): boolean {
      const hidden = field.hiddenInReview
      if (!hidden) {
        return false
      }
      if (typeof hidden === 'function' && store) {
        return hidden(store)
      }
      return true
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .m-form-reviewer {
    margin-bottom: 2rem;

    &__field-name {
      font-size: 1.25rem;
      font-weight: normal;
    }
    &__field-value {
      color: #333333;
      font-size: 1.5rem;
    }
  }

  .m-form-reviewer__tags {
    margin: -0.2em;
  }

  .m-form-reviewer__tag {
    display: inline-block;
    padding: 0.2em 0.5em;
    background-color: $color-lighter;
    border-radius: $border-radius;
    margin: 0.2em;
  }
</style>
