<template>
  <div class="m-form-submitter">
    <font-awesome-icon :icon="icon" class="e-modal__icon" :spin="icon === 'slash'" />
    <h2>{{ heading }}</h2>
    <p>{{ description }}</p>
    <div v-if="hasError" class="m-form-submitter__error">
      <p v-if="typeof errorMessage === 'string' && errorMessage.length > 0" class="m-form-submitter__error__message">
        {{ errorMessage }}
      </p>
      <Button
        theme="ghost"
        width="wide"
        type="reset"
        @click="cancel"
      >
        {{ this.$t('ui.form-submitter.back_button') }}
      </Button>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import _cloneDeep from 'lodash/cloneDeep'
import _get from 'lodash/get'
import Button from '@/components/elements/Button.vue'

interface ComponentData {
  status: 'loading' | 'error' | 'success'
  errorMessage: string | undefined
  doneButtonDisabled: boolean
}
export default Vue.extend({
  name: 'FormSubmitter',
  components: {
    Button,
  },
  props: {
    data: {
      type: Object as PropType<any>,
      required: true,
    },
    url: {
      type: String,
      required: true,
    },
  },
  data (): ComponentData {
    return {
      status: 'loading',
      errorMessage: undefined,
      doneButtonDisabled: true,
    }
  },
  computed: {
    heading (): string {
      return _get({
        loading: this.$t('ui.form-submitter.heading.loading'),
        success: this.$t('ui.form-submitter.heading.success'),
        error: this.$t('ui.form-submitter.heading.error'),
      }, this.status, this.$t('ui.form-submitter.heading.error')) as string
    },
    description (): string {
      return _get({
        loading: this.$t('ui.form-submitter.description.loading'),
        success: this.$t('ui.form-submitter.description.success'),
        error: this.$t('ui.form-submitter.description.error'),
      }, this.status, this.$t('ui.form-submitter.description.error')) as string
    },
    icon (): string {
      return _get({
        loading: 'slash',
        success: 'check',
        error: 'times',
      }, this.status, 'times')
    },
    hasError (): boolean {
      return this.status === 'error'
    },
  },
  mounted () {
    this.status = 'loading'
    this.errorMessage = undefined
    this.doneButtonDisabled = true

    setTimeout(() => { // generate friction
      this.submit()
    }, 750)
  },
  methods: {
    submit (): void {
      // Add meta info to request data
      const requestData = _cloneDeep(this.data)
      requestData.idempotencyToken = this.$store.state.idempotencyToken
      requestData.timestamp = (new Date()).toISOString()

      // Send request and process response
      this.$axios.post(this.url, requestData).then((response) => {
        if (response.status >= 200 && response.status < 300) {
          this.status = 'success'
          setTimeout(() => { // delay `success` event for smoother UI
            this.$emit('success', response.data)
          }, 500)
          setTimeout(() => { // leave the parent component some time to react to the `success` event
            this.doneButtonDisabled = false
          }, 500 + 200) // fade out time of Modal component
        } else {
          this.status = 'error'
          this.doneButtonDisabled = false
          this.errorMessage = `${response.status} – ${response.statusText}`
        }
      }).catch((error) => {
        this.status = 'error'
        this.doneButtonDisabled = false
        this.errorMessage = error.toString()
        if (error.response && error.response.data) {
          this.errorMessage = `${error.response.status} – ${error.response.data.message}`
        }
      })
    },
    cancel (): void {
      this.$emit('cancel')
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .m-form-submitter {
    text-align: center;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__icon {
      font-size: 2rem;
      margin-top: 1rem;
    }

    &__title {
      @include poly-fluid-sizing('font-size', (20rem:1.5rem, 60rem:2.5rem));
      margin: 1rem 0;
    }

    &__description {
      max-width: 40rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .m-form-submitter__error {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .m-form-submitter__error__message {
    color: $color-negative;
    margin: 2rem 0;
  }
</style>
