<template>
  <div v-if="!hidden" :class="{ 'm-form-content': true, 'm-form-content--multi': multi }">
    <div v-if="['paragraph', 'title'].includes(field.type)" :class="'m-form-content__text ' + (field.color ? 'm-form-content__text--color-' + field.color : '')">
      <!-- eslint-disable-next-line vue/no-v-html -->
      <h2 v-if="field.type === 'title'" v-html="$t(field.content)" />
      <!-- eslint-disable-next-line vue/no-v-html -->
      <p v-if="field.type === 'paragraph'" v-html="$t(field.content)" />
    </div>
    <component
      :is="fieldComponent"
      v-else
      v-model="value"
      :name="$t(`pages.${formId}.fields.${field.alias}.name`)"
      :alias="field.alias"
      :type="field.type"
      :rules="rules"
      :disabled="disabled"
      :options="field.choices ? field.choices.map(o => ({
        ...o,
        caption: $t(`pages.${formId}.fields.${field.alias}.options.${o.alias}.caption`),
        description: $t(`pages.${formId}.fields.${field.alias}.options.${o.alias}.description`)
      })) : undefined"
      :placeholder="$t(`pages.${formId}.fields.${field.alias}.placeholder`)"
      :help-text="$t(`pages.${formId}.fields.${field.alias}.help-text`)"
      :help-title="$t(`pages.${formId}.form-section.data-necessity`)"
      :help-caption="$t(`pages.${formId}.form-section.data-privacy`)"
      :description="$t(`pages.${formId}.fields.${field.alias}.description`)"
      :allowed-dates="field.allowedDates"
      :min-date="field.minDate"
      :max-date="field.maxDate"
      :is-birthday-picker="field.isBirthdayPicker"
      :store-key="storeKey"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

import FieldCheckbox from '~/components/elements/fields/FieldCheckbox.vue'
import FieldInput from '~/components/elements/fields/FieldInput.vue'
import FieldDatepicker from '~/components/elements/fields/FieldDatepicker.vue'
import FieldRadio from '~/components/elements/fields/FieldRadio.vue'
import FieldSwitch from '~/components/elements/fields/FieldSwitch.vue'
import FieldTextarea from '~/components/elements/fields/FieldTextarea.vue'
import { Field } from '~/types/form/Field'

export default Vue.extend({
  name: 'FormContent',
  components: {
    FieldCheckbox,
    FieldInput,
    FieldRadio,
    FieldSwitch,
    FieldTextarea,
    FieldDatepicker,
  },
  props: {
    multi: {
      type: Boolean,
      default: false,
    },
    formId: {
      type: String,
      required: true,
    },
    storeKey: {
      type: String,
      required: true,
    },
    field: {
      type: Object as PropType<Field<string, string, {}>>,
      required: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data () {
    return {
      hidden: true as boolean,
    }
  },
  computed: {
    fieldComponent (): any {
      switch ((this.field as unknown as Field<string, string, {}>).type) {
        case 'text':
          return FieldInput
        case 'date':
          return FieldDatepicker
        case 'radio':
          return FieldRadio
        case 'switch':
          return FieldSwitch
        case 'checkbox':
          return FieldCheckbox
        case 'textarea':
          return FieldTextarea
        default:
          return 'div'
      }
    },
    value: {
      get () {
        return this.$store.getters[this.storeKey + '/getField']('data.' + this.field.key) || ''
      },
      set (newValue) {
        (this as any).$emit('change', newValue)
        return this.$store.commit(this.storeKey + '/updateField', {
          path: 'data.' + this.field.key,
          value: newValue,
        })
      },
    },
    state () {
      return (this.$store as any).state[(this as any).storeKey]
    },
    rules () {
      const rules = ((this as any).field as unknown as Field<string, string, {}>).rules
      if (!rules) {
        return ''
      }
      if (typeof rules === 'function' && this.state) {
        return rules.apply(this, [(this as any).state])
      }
      return rules
    },
  },
  watch: {
    state: {
      handler (newVal) {
        (this as any).hidden = (this as any).isHidden(newVal)
      },
      deep: true,
      immediate: true,
    },
  },
  methods: {
    isHidden (store: any): boolean {
      const hidden = ((this as any).field as unknown as Field<string, string, {}>).hidden
      if (!hidden) {
        return false
      }
      if (typeof hidden === 'function' && store) {
        return hidden(store)
      }
      return true
    },
  },
})
</script>

<style lang="scss">
  @import "~@/assets/styles/core";

  .m-form-content {
    &--multi {
      flex: 1;

      @media (min-width: 50rem) {
        &:not(:first-of-type):not(:last-of-type) {
          .e-field {
            input {
              border-radius: 0;
            }
          }
        }
        &:first-of-type {
          .e-field {
            input {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }
        }
        &:last-of-type {
          .e-field {
            input {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }
          }
        }
      }
    }

    &__text {
      &--color-default {
        color: $color-text;
      }
      &--color-primary {
        color: $color-primary;
      }

      h2 {
        font-size: 2em;
        font-weight: 300;
      }

      p {
        font-size: 1em;
      }
    }
  }
</style>
