<template>
  <div v-if="responseData">
    <div class="success-display">
      <svg
        viewBox="0 0 399 317"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        class="success-icon"
      >
        <g id="SuccessIcon" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <path
            id="Oval"
            d="M200,259 C231.153269,259 258.979282,244.754325 277.319179,222.421836 C291.492228,205.163316 300,183.075206 300,159 C300,103.771525 255.228475,59 200,59 C144.771525,59 100,103.771525 100,159 C100,183.826645 109.047151,206.540214 124.024405,224.02366"
            stroke="#03DAC6"
            stroke-width="10"
            transform="translate(200.000000, 159.000000) scale(1, -1) rotate(-88.000000) translate(-200.000000, -159.000000) "
            stroke-linecap="round"
          />
          <path
            id="Path"
            class="animated delay-1s bounceIn"
            stroke-linecap="round"
            d="M156,145.270107 C169.894063,164.523458 183.534316,183.100089 196.920758,201 L356,46"
            stroke="#03DAC6"
            stroke-width="10"
          />
        </g>
      </svg>
      <h3 class="success-display__title">
        {{ $t(`pages.${formId}.success-display.title`) }}
      </h3>
      <p class="success-display__subtitle">
        {{ $t(`pages.${formId}.success-display.subtitle`) }}
      </p>
    </div>
    <div class="success-display__buttons">
      <EnhancedButton
        tag="a"
        :href="localePath(formBaseLink)"
        theme="ghost"
      >
        {{ $t(`pages.${formId}.success-display.reset_data`) }}
      </EnhancedButton>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import EnhancedButton from '@/components/elements/EnhancedButton.vue'

export default Vue.extend({
  name: 'EmailDisplay',
  components: {
    EnhancedButton,
  },
  props: {
    responseData: {
      type: Object as PropType<any>,
      default: {
        errored: false,
        submitted: true,
        workflow: 'sormas',
        data: {},
      },
    },
    formId: {
      type: String,
      required: true,
    },
  },
  computed: {
    formBaseLink (): string {
      return `/forms/${this.formId}?startOver=true`
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";
    .success-display {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        margin-bottom: 1rem;

        &__title {
            font-size: 1.4rem;
        }

        &__subtitle {
            font-size: 1rem;
        }
    }

  .success-display__buttons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 30rem;
    margin: 0 auto;

    & > * {
      margin-bottom: 1rem;
    }
  }

  @-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.success-icon {
    width: 20rem;
    height: auto;
    max-width: 80vw;
}

</style>
