<template>
  <div class="m-big-links">
    <big-link
      v-for="link in links"
      :key="link.to"
      :to="link.to"
      :external="link.external || false"
      :download="link.download || false"
      :caption="link.caption"
      :theme="link.theme"
      :description="link.description"
      :icon="link.icon"
    />
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import BigLink from '@/components/elements/BigLink.vue'

interface Link {
  to: string | object,
  external?: boolean,
  caption: string,
  theme: string,
  description: string,
  icon: string
}
export default Vue.extend({
  name: 'BigLinks',
  components: {
    BigLink,
  },
  props: {
    links: {
      type: Array as PropType<Array<Link>>,
      required: true,
    },
  },
})
</script>

<style lang="scss" scoped>
.m-big-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -1rem;
  .e-big-link {
    margin: 1rem 2.5rem;
    flex: 1 1 auto;
  }
}
</style>
