<template>
  <ValidationProvider ref="field" :name="$t('ui.fetch-health-office.name')" :rules="rules">
    <div class="m-fetch-health-office">
      <div v-if="status !== 'no-zip'" class="m-fetch-health-office__box">
        <span class="m-fetch-health-office__heading">
          <template v-if="status === 'no-zip'">
            {{ $tc('ui.fetch-health-office.no-zip', matches.length) }}
          </template>
          <template v-else-if="status === 'loading'">
            {{ $t('ui.fetch-health-office.loading') }}
            <font-awesome-icon icon="slash" spin />
          </template>
          <template v-else-if="status === 'found' && matches.length > 0">
            {{ $tc('ui.fetch-health-office.found', matches.length) }}
          </template>
          <template v-else-if="status === 'no-match'">
            {{ $t('ui.fetch-health-office.no-match') }}
          </template>
          <template v-else-if="status === 'error' && errorMessage && errorMessage.length > 0">
            {{ $t('ui.fetch-health-office.error', { message: errorMessage }) }}
          </template>
          <template v-else>
            {{ $tc('ui.fetch-health-office.unknown-error') }}
          </template>
        </span>
        <ul
          v-if="matches.length > 0"
          class="m-fetch-health-office__matches"
        >
          <li
            v-for="match in matches"
            :key="match.name"
            class="m-fetch-health-office__match"
          >
            <address>
              <span v-if="match.name" class="m-fetch-health-office__match-name">
                {{ match.name }}
                <span v-if="match.department">, {{ match.department }}</span>
              </span>
              <span
                v-if="match.address && match.address.street && match.address.postCode && match.address.place"
                class="m-fetch-health-office__match-address"
              >
                <font-awesome-icon icon="map-marker" fixed-width />
                {{ match.address.street }}, {{ match.address.postCode }} {{ match.address.place }}<br>
              </span>
              <span
                v-if="match.contact && match.contact.phone"
                class="m-fetch-health-office__match-phone"
              >
                <font-awesome-icon icon="phone" fixed-width />
                <a :href="`tel:${humanTelToMachine(match.contact.phone)}`">
                  {{ match.contact.phone }}
                </a>
              </span>
              <span
                v-if="match.contact && match.contact.fax"
                class="m-fetch-health-office__match-fax"
              >
                <font-awesome-icon icon="fax" fixed-width />
                {{ match.contact.fax }}
              </span>
              <span
                v-if="match.contact && match.contact.mail"
                class="m-fetch-health-office__match-mail"
              >
                <font-awesome-icon icon="at" fixed-width />
                <a :href="`mailto:${match.contact.mail}`">
                  {{ match.contact.mail }}
                </a>
              </span>
            </address>
          </li>
        </ul>
      </div>
    </div>
  </ValidationProvider>
</template>

<script lang="ts">
import Vue from 'vue'
import { ValidationProvider } from 'vee-validate'
import { HealthOffice } from '~/types/HealthOffice'

type Status = 'no-zip' | 'loading' | 'error' | 'no-match' | 'found' | 'unknown-error'
interface Data {
  status: Status,
  errorMessage: string | undefined,
  matches: Array<HealthOffice>,
  rules: string
}
export default Vue.extend({
  name: 'FetchHealthOffice',
  props: {
    zip: {
      type: String,
      default: null,
    },
  },
  data (): Data {
    return {
      status: 'no-zip', // `no-zip`, `loading`, `error`, `no-match`, `found`
      errorMessage: undefined,
      matches: [],
      rules: 'required',
    }
  },
  watch: {
    zip: {
      handler (zip) {
        this.errorMessage = undefined
        if (!zip || zip.length < 4) {
          this.matches = []
          this.status = 'no-zip'
          return
        }
        this.status = 'loading'
        this.$axios.get(
          '/api/healthOffice',
          { params: { postCode: zip } },
        ).then((response: any) => {
          if (
            response.status >= 200 &&
            response.status < 300 &&
            response.headers['content-type'].includes('application/json')
          ) {
            this.matches = response.data as Array<HealthOffice>
            if (this.matches.length > 0) {
              this.status = 'found'
            } else {
              this.status = 'no-match'
            }
          } else {
            this.status = 'unknown-error'
          }
        }).catch((error: any) => {
          this.status = 'error'
          this.errorMessage = error.toString()
        })
      },
      immediate: true,
    },
    matches: {
      handler (matches) {
        (this.$refs.field as InstanceType<typeof ValidationProvider>).syncValue(matches);
        (this.$refs.field as InstanceType<typeof ValidationProvider>).validate()
      },
    },
  },
  methods: {
    humanTelToMachine (tel: string): string {
      const result = tel.replace(/ /g, '').replace(/-/g, '').replace(/\//g, '')
      if (result.startsWith('0049') || result.startsWith('+49')) {
        return result
      }
      return '0049' + result
    },
  },
})
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/core";

.m-fetch-health-office__box {
  color: $color-text;
  padding: 1rem;
  background-color: $color-medium;
  border-radius: $border-radius-medium;
  & + & {
    margin-top: 0.5rem;
  }
  & > p {
    margin: 0;
    font-size: 0.875rem;
    color: $color-primary;
  }
}

.m-fetch-health-office__heading {
  display: block;
  font-size: 0.875rem;
  color: $color-primary;
  .svg-inline--fa {
    margin-left: 1em;
  }
}

.m-fetch-health-office__matches {
  overflow-x: auto;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0 0 0;
}

.m-fetch-health-office__match {
  border-left: 3px solid $color-text;
  padding-left: 1rem;
  font-size: 0.875rem;
  & + & {
    margin-top: 1rem;
  }
  address {
    font-style: normal;
  }
}

.m-fetch-health-office__match-name {
  font-size: 1rem;
  margin-bottom: 1em;
  display: block;
  font-weight: 600;
}
.m-fetch-health-office__match-address,
.m-fetch-health-office__match-tel,
.m-fetch-health-office__match-fax,
.m-fetch-health-office__match-phone,
.m-fetch-health-office__match-mail {
  display: block;
  .svg-inline--fa {
    margin-right: 0.5em;
    color: $color-primary;
  }
  a {
    color: inherit;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  & + & {
    margin-top: 0.25em;
  }
}
</style>
