<template>
  <footer class="m-footer-section">
    <nav class="m-footer-section__navigation">
      <ul
        class="m-footer-section__items"
      >
        <li
          v-for="(item, index) in items"
          :key="item.title"
          class="m-footer-section__item"
        >
          <nuxt-link :to="item.to" :tabindex="index">
            {{ item.title }}
          </nuxt-link>
        </li>
        <li
          v-for="locale in otherLocales"
          :key="locale.alias"
          class="m-footer-section__item m-footer-section__item--pull-right m-footer-section__item--primary"
        >
          <nuxt-link :to="switchLocalePath(locale.alias)">
            {{ locale.advertisement }}
          </nuxt-link>
        </li>
      </ul>
      <p class="m-footer-section__text">
        © Digitales Wartezimmer
      </p>
    </nav>
  </footer>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

interface Item {
  to: string | object
  title: string
  icon: string[]
}
interface Locale {
  alias: string,
  name: string,
  advertisement: string
}
interface Data {
  locales: Array<Locale>
}

export default Vue.extend({
  name: 'FooterSection',
  props: {
    items: {
      type: Array as PropType<Array<Item>>,
      required: true,
    },
  },
  data (): Data {
    return {
      locales: [
        {
          alias: 'de',
          name: 'Deutsch',
          advertisement: 'Auf Deutsch lesen',
        },
        {
          alias: 'en',
          name: 'English',
          advertisement: 'Read in English',
        },
      ],
    }
  },
  computed: {
    otherLocales (): Array<Locale> {
      return this.locales.filter((locale) => {
        return locale.alias !== this.$i18n.locale
      })
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .m-footer-section {
    background-color: #F0F0F0;
    padding: 4rem 2rem;
  }

  .m-footer-section__navigation {
    max-width: 80rem;
    margin: 0 auto;
  }

  .m-footer-section__items {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .m-footer-section__item {
    a {
      display: block;
      padding: 0.5rem 1rem;
      width: 10rem;
      color: inherit;
      text-transform: uppercase;
      font-size: 0.8rem;
      border: 1px solid transparent;
      transition: border-color 0.2s ease-out;
      border-radius: 1.5rem;
      background-color: #FFFFFF;
      white-space: nowrap;
      margin: 0.3rem 1rem;
      text-align: center;

      &:hover, &:focus {
        border-color: $color-text;
        outline: none;
      }
    }

    &--pull-right {
      margin-left: auto;
      &+& {
        margin-left: 0;
      }
    }
    &--primary {
      a {
        background-color: $color-primary;
        color: $contrast-primary;
      }
    }
  }

  .m-footer-section__text {
    @include poly-fluid-sizing('font-size', (40rem:1.2rem, 80rem:1.5rem));
    font-weight: 300;
    text-align: start;
    padding: 0 0.5rem;
    margin-top: 2rem;
  }

  @media (max-width: 50rem) {
    .m-footer-section__items {
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
    }
    .m-footer-section__item--pull-right {
      margin-left: 0;
    }
    .m-footer-section__text {
      text-align: center;
    }
  }
</style>
