<template>
  <header class="m-head-section">
    <a class="m-head-section__brand" :href="localePath('/')">
      <img class="m-head-section__brand__image" src="~/assets/logo-chair.svg" alt="">
      <h1 class="m-head-section__brand__title">
        {{ $t('head.title') }}
      </h1>
    </a>
    <ResponsiveMenu
      class="m-head-section__responsive-menu"
      :items="[
        { to: localePath('/'), title: $t('menu.start') },
        { to: localePath('project'), title: $t('menu.project') }
      ]"
    />
  </header>
</template>

<script lang="ts">
import Vue from 'vue'
import ResponsiveMenu from '@/components/elements/ResponsiveMenu.vue'

export default Vue.extend({
  name: 'HeadSection',
  components: {
    ResponsiveMenu,
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  $text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

  .m-head-section {
    background-color: $color-background;
    color: $color-text;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1.5px solid $color-text;
    @include poly-fluid-sizing('padding-top', (40rem:1rem, 80rem:2rem));
    @include poly-fluid-sizing('padding-bottom', (40rem:1rem, 80rem:2rem));
    @include poly-fluid-sizing('padding-left', (40rem:2rem, 80rem:8rem));
    @include poly-fluid-sizing('padding-right', (40rem:2rem, 80rem:2.5rem));

    &__brand {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      &__image {
        @include poly-fluid-sizing('height', (40rem:3rem, 80rem:7rem));
      }
      &__title {
        @include poly-fluid-sizing('margin-left', (40rem:1rem, 80rem:2.5rem));
        @include poly-fluid-sizing('font-size', (40rem:1rem, 80rem:2rem));
        font-weight: 300;
        color: $color-text;
      }
    }
  }
</style>
