<template>
  <div>
    <Container padding="large" margin-y="none">
      <section>
        <h2>
          {{ title }}
        </h2>
        <p class="m-landing-page-content-paragraph">
          {{ description }}
        </p>
        <p class="m-landing-page-content-paragraph">
          {{ $t('ui.landing-page.description') }}
        </p>
      </section>
      <section class="m-landing-page-content-cta-section">
        <Button class="m-landing-page-content-cta-section__button" :to="localePath(formUrl)" :link="true">
          {{ $t('ui.landing-page.complete_form') }} <font-awesome-icon icon="arrow-right" size="lg" />
        </Button>
        <div class="m-landing-page-content-privacy-note">
          <div class="m-landing-page-content-privacy-note__icon">
            <img src="~/assets/illustrations/shield.svg" alt="">
          </div>
          <p class="m-landing-page-content-privacy-note__text">
            {{ $t('ui.landing-page.privacy_note') }}
          </p>
        </div>
      </section>
      <section class="m-landing-page-content-sponsorship-section">
        <p class="m-landing-page-content-sponsorship-section__text">
          {{ $t('ui.landing-page.sponsorship-section.sponsored-by') }}
        </p>
        <div class="m-landing-page-content-sponsorship-section__images">
          <img :alt="$t('ui.landing-page.sponsorship-section.solution_enabler')" src="~/assets/solution-enabler-logo.png">
          <img :alt="$t('ui.landing-page.sponsorship-section.bmbf')" src="~/assets/bmbf.svg">
        </div>
      </section>
    </Container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Container from '@/components/elements/Container.vue'
import Button from '@/components/elements/Button.vue'

export default Vue.extend({
  name: 'LandingPageContent',
  components: {
    Container,
    Button,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    formUrl: {
      type: String,
      required: true,
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .m-landing-page-content-paragraph {
    font-size: 1rem;
    &:first-of-type {
      font-size: 1.2rem;
    }
  }

  .m-landing-page-content-cta-section {
    display: flex;
    flex-direction: column;

    &__button.e-button {
      margin: 2rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
    }
  }

  .m-landing-page-content-privacy-note {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2rem 0;

    &__icon {
      @include poly-fluid-sizing('margin-right', (20rem:2rem, 60rem:3rem));
      background-color: $color-secondary;
      color: $contrast-secondary;
      @include poly-fluid-sizing('padding', (20rem:1rem, 60rem:1.3rem));
      border-radius: 50%;
      img {
        @include poly-fluid-sizing('width', (20rem:2rem, 60rem:3rem));
      }
    }

    &__text {
      margin: 0;
    }
  }

  .m-landing-page-content-sponsorship-section {
    margin-top: 3rem;

    &__text {
      font-size: 1.5rem;
      margin-bottom: 0;
    }

    &__images {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      img {
        margin: 1rem;
        width: 18rem;
      }
    }
  }

  @media (max-width: 50rem) {
    .m-landing-page-content-cta-section__button {
      order: 2;
    }
  }
</style>
