<template>
  <div>
    <h2>Sitemap</h2>
    <ul>
      <li>
        <nuxt-link :to="localePath('/')">
          {{ $t('sitemap.start') }}
        </nuxt-link>
      </li>
      <li>
        <span>{{ $t('sitemap.features.title') }}</span>
        <ul>
          <li>
            <nuxt-link
              :to="localePath({
                name: 'forms-form',
                params: {
                  form: 'registration-as-contact'
                }
              })"
            >
              {{ $t('sitemap.features.register-as-contact') }}
            </nuxt-link>
          </li>
        </ul>
      </li>
      <li>
        <nuxt-link :to="localePath('project')">
          {{ $t('sitemap.project') }}
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="localePath('privacy')">
          {{ $t('sitemap.privacy') }}
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="localePath('about')">
          {{ $t('sitemap.about') }}
        </nuxt-link>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'Sitemap',
})
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/core";

ul {
  padding: 0;
  list-style-type: none;
}

li + li, li > ul {
  border-top: 1px solid $color-light;
}

li > ul {
  padding-left: 2rem;
}

a, li span {
  color: inherit;
  display: block;
  padding: 1rem;
}

a {
  transition: background-color 0.2s ease-out;
  &:hover, &:focus {
    outline: none;
    background-color: lighten($color-light, 15%);
  }
}
</style>
