@import '~assets/styles/core';

table {
  border-collapse: collapse;
}

tr {
  display: block;
  border-top: 1px solid $color-lighter;
  &:last-of-type {
    border-bottom: 1px solid $color-lighter;
  }
}

th {
  text-align: left;
  padding: 0.75rem 0 0.25rem 0;
  display: block;
}

td {
  padding: 0.25rem 0 0.75rem;
  display: block;
}

@media (min-width: 30rem) {
  tr {
    display: table-row;
    border: none;
  }
  th, td {
    display: table-cell;
    padding: 0.75rem;
    border-top: 1px solid $color-lighter;
    border-bottom: 1px solid $color-lighter;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  th {
    width: 40%;
    padding-right: 3rem;
  }
}