.tooltip {
  display: block !important;
  z-index: 10000;
  $arrow_size: 15px;

  .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: $arrow_size;
    border-color: black;
    z-index: 1;
  }

  &[x-placement^="top"] {
    margin-bottom: $arrow_size;

    .tooltip-arrow {
      border-width: $arrow_size $arrow_size 0 $arrow_size;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -$arrow_size;
      left: calc(50% - #{$arrow_size});
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="bottom"] {
    margin-top: $arrow_size;

    .tooltip-arrow {
      border-width: 0 $arrow_size $arrow_size $arrow_size;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -$arrow_size;
      left: calc(50% - #{$arrow_size});
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^="right"] {
    margin-left: $arrow_size;

    .tooltip-arrow {
      border-width: $arrow_size $arrow_size $arrow_size 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -$arrow_size;
      top: calc(50% - #{$arrow_size});
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^="left"] {
    margin-right: $arrow_size;

    .tooltip-arrow {
      border-width: $arrow_size 0 $arrow_size $arrow_size;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -$arrow_size;
      top: calc(50% - #{$arrow_size});
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #F4F4F4;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, .1);
      max-width: 80vw;
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}
