@import '~assets/styles/core';

html {
  color: $color-text;
  font-size: 14px;
  line-height: 1.4;
}

body {
  font-family: $font-family-sans;
}

h1, h2, h3 {
  font-family: $font-family-sans;
  font-weight: 300;
  color: $color-text;
}

h1 {
  @include poly-fluid-sizing('font-size', (20rem:2rem, 60rem:3.5rem));
  small {
    display: block;
    font-size: 20%;
    font-family: $font-family-sans;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  strong {
    display: block;
    font-weight: inherit;
  }
}

h2 {
  @include poly-fluid-sizing('font-size', (20rem:1.5rem, 60rem:2rem));
}

::-moz-selection {
  text-shadow: none;
  background-color: rgba($color-focus, 0.5);
}

::selection {
  text-shadow: none;
  background-color: rgba($color-focus, 0.5);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

a {
  text-decoration: none;
}

p a, label a {
  text-decoration: initial;
}

p, li {
  @include poly-fluid-sizing('font-size', (20rem:1rem, 60rem:1.2rem));
  line-height: 1.5;
}

strong, b {
  font-weight: 600;
}

a {
  color: $color-primary;
  &:hover, &:focus {
    color: darken($color-primary, 10)
  }
}
