<template>
  <ValidationObserver v-slot="{ handleSubmit, valid }" ref="observer">
    <form class="p-form-index__form" @submit.prevent="handleSubmit(proceed)">
      <div v-if="currentStepConfig">
        <div v-if="currentStepConfig.section">
          <div v-for="(field, index) in currentStepConfig.section.fields" :key="field.key || index">
            <div v-if="field.type === 'component'">
              <div v-if="field.componentName === 'fetch-health-office'" class="health-offices">
                <fetch-health-office :zip="zip" />
              </div>
              <div v-else-if="field.componentName === 'form-reviewer'">
                <FormReviewer
                  :fields="fields"
                  :active="true"
                  :store-key="form.storeKey"
                  :form-id="form.id"
                  :additional-fields="getAdditionalFields(field)"
                />
              </div>
              <div v-else-if="field.componentName === 'form-submitter'">
                <FormSubmitter
                  :data="getRequestData(field)"
                  :url="getApiUrl(field)"
                  :active="true"
                  :form-id="form.id"
                  @success="(val) => { handleFieldChange(field, val); proceed()}"
                  @cancel="back"
                />
              </div>
              <div v-else-if="field.componentName === 'email-display'">
                <EmailDisplay
                  :response-data="responseData"
                  :form-id="form.id"
                />
              </div>
              <div v-else-if="field.componentName === 'quarantine-date'">
                <QuarantineDate
                  :date="quarantineStartDate"
                />
              </div>
              <div v-else-if="field.componentName === 'loading'">
                <Loading />
              </div>
              <div v-else-if="field.componentName === 'start-over-button'">
                <StartOverButton />
              </div>
              <div v-else-if="field.componentName === 'contacts'">
                <Contacts
                  :field="field"
                  :store-key="form.storeKey"
                />
              </div>
              <div v-else-if="field.componentName === 'success'">
                <Success
                  :response-data="responseData"
                  :form-id="form.id"
                />
              </div>
            </div>
            <div v-else>
              <FormContent
                v-if="!Array.isArray(field)"
                :field="field"
                :store-key="form.storeKey"
                :form-id="form.id"
                :disabled="field.options ? field.options.disabled : false"
                @change="(val) => handleFieldChange(field, val)"
              />
              <div v-else class="p-form-index__multi-form-content">
                <FormContent
                  v-for="singleField in field"
                  :key="index + '_' + singleField.key"
                  :multi="true"
                  :field="singleField"
                  :form-id="form.id"
                  :store-key="form.storeKey"
                  :disabled="singleField.options ? singleField.options.disabled : false"
                  @change="(val) => handleFieldChange(singleField, val)"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="p-form-index__buttons">
          <Button
            v-if="!!currentStepConfig.next && !currentStepConfig.noNextButton"
            type="submit"
            theme="primary"
            width="wide"
            :disabled="!valid"
            @click="handleSubmit(proceed)"
          >
            {{ nextButtonText }}
          </Button>
          <Button
            v-if="displayBackButton"
            theme="ghost"
            width="wide"
            type="reset"
            @click="back"
          >
            {{ previousButtonText }}
          </Button>
        </div>
      </div>
    </form>
  </ValidationObserver>
</template>

<script lang="ts">
import Vue, { VueConstructor } from 'vue'

import Loading from '@/components/elements/Loading.vue'
import Button from '@/components/elements/Button.vue'
import { formMap, Form, STEP_IDS, Step, formIDs } from '~/content/forms'
import FormContent from '~/components/modules/form/FormContent.vue'
import FetchHealthOffice from '~/components/modules/FetchHealthOffice.vue'
import FormReviewer from '~/components/modules/form/FormReviewer.vue'
import FormSubmitter from '~/components/modules/form/FormSubmitter.vue'
import EmailDisplay from '~/components/modules/form/EmailDisplay.vue'
import QuarantineDate from '~/components/elements/QuarantineDate.vue'
import StartOverButton from '~/components/elements/StartOverButton.vue'
import Contacts from '~/components/modules/form/Contacts.vue'
import Success from '~/components/modules/form/Success.vue'

type VueTypeDef = {
  currentStep?: keyof STEP_IDS
  currentStepConfig: Step,
  form: Form
}

export default (Vue as VueConstructor<Vue & VueTypeDef>).extend({
  name: 'FormKeyPage',
  components: {
    Loading,
    FormContent,
    Button,
    FetchHealthOffice,
    FormReviewer,
    FormSubmitter,
    EmailDisplay,
    QuarantineDate,
    StartOverButton,
    Contacts,
    Success,
  },
  layout: 'form',
  validate ({ params }): boolean | Promise<boolean> {
    const validForm = !!params.form && formIDs.includes(params.form)
    if (!validForm) {
      return false
    }
    // @ts-ignore
    const form = formMap[params.form].form
    return !!params.key && (Object.keys(form.steps) as Array<string>).includes(params.key)
  },
  scrollToTop: true,
  transition: 'test',
  computed: {
    displayBackButton (): boolean {
      return (!!this.currentStepConfig.previous || (!!this.currentStepConfig.start && !!this.$route.query.previousForm)) && !this.currentStepConfig.noBackButton
    },
    form (): Form | undefined {
      if (!this.$route.params.form) {
        return undefined
      }
      const id = this.$route.params.form! as keyof typeof formMap
      return formMap[id].form
    },
    currentStep: {
      get (): keyof STEP_IDS {
        return this.$store.getters[this.form.storeKey + '/getField']('currentStep')
      },
      set (newValue) {
        return this.$store.commit(this.form.storeKey + '/updateField', {
          path: 'currentStep',
          value: newValue,
        })
      },
    },
    isChangeFormStep (): boolean {
      return !!this.currentStepConfig.changeForm
    },
    zip (): string {
      return this.$store.getters[this.form.storeKey + '/getField']('zip') || ''
    },
    state (): object {
      return this.$store.getters[this.form.storeKey + '/getField']('data')
    },
    responseData () {
      return this.$store.getters[this.form.storeKey + '/getField']('responseData')
    },
    quarantineStartDate (): string {
      return this.$store.getters[this.form.storeKey + '/getField']('quarantineStartDate')
    },
    fields (): Array<object> {
      let fields = Object.values(this.form.steps).reduce((acc: any, current: any) => {
        if (!current.section) {
          return acc
        }
        const currentFields = current.section.fields.reduce((innerAcc: any, currentField: any) => {
          if (Array.isArray(currentField)) {
            return [...innerAcc, ...currentField]
          }
          return [...innerAcc, currentField]
        }, [])
        return [...acc, ...currentFields.map((f: any) => ({
          ...f,
          stepId: current.key,
        }))]
      }, []) as Array<any>
      fields = fields.filter((field) => {
        if (['component', 'title', 'paragraph'].includes(field.type)) {
          return false
        }
        if (!field.hidden) {
          return true
        }
        if (typeof field.hidden === 'function') {
          return !field.hidden({ data: this.state })
        }
        return false
      })
      fields = fields.map((field) => {
        return {
          ...field,
          value: (this.state as any)[field.key],
        }
      })
      // Remove duplicate fields with same key
      fields = [...new Map(fields.map(f => [f.key, f])).values()]
      return fields
    },
    currentStepConfig (): any {
      // @ts-ignore
      return this.form.steps[this.currentStep]
    },
    nextButtonText (): string {
      return this.$t(this.currentStepConfig.nextButtonText || 'pages.form.proceed') as string
    },
    previousButtonText (): string {
      return this.$t(this.currentStepConfig.backButtonText || 'pages.form.back') as string
    },
  },
  beforeMount () {
    this.currentStep = this.$route.params.key as keyof STEP_IDS
  },
  mounted () {
    if (this.isChangeFormStep) {
      this.redirectToForm()
    }
  },
  methods: {
    handleFieldChange (field: any, value: any) {
      if (!field.onChange) {
        return
      }
      field.onChange.apply(this, [value])
    },
    getApiUrl (field: any) {
      return field.apiUrl
    },
    getRequestData (field: any) {
      return field.transformer.getRequestData({ data: this.state }, this.$store.state.idempotencyToken)
    },
    navigateToKey (key: 'previous' | 'next') {
      const step = this.currentStepConfig
      if (step[key]) {
        let next: string = ''
        if (typeof step[key] === 'string' || step[key] instanceof String) {
          next = step[key] as string
        } else if (typeof step[key] === 'function') {
          // @ts-ignore
          next = step[key](this.$store.state[this.form.storeKey])
        }

        if (next && next.length > 0) {
          this.$router.push({
            name: this.$route.name!,
            params: {
              ...this.$route.params,
              key: next,
            },
            query: this.$route.query,
          })
        }
      } else if (step.start && key === 'previous' && !!this.$route.query.previousForm) {
        const [form, key] = (this.$route.query.previousForm as string).split('|')
        this.$router.push({
          name: this.$route.name!,
          params: {
            ...this.$route.params,
            key,
            form,
          },
          query: {
            ...this.$route.query,
            previousForm: undefined,
          },
        })
      }
    },
    redirectToForm () {
      let next: string | null = null
      if (typeof this.currentStepConfig.form === 'string' || this.currentStepConfig.form instanceof String) {
        next = this.currentStepConfig.form as string
      } else if (typeof this.currentStepConfig.form === 'function') {
        // @ts-ignore
        next = this.currentStepConfig.form(this.$store.state[this.form.storeKey])
      }
      if (next && next.length > 0) {
        this.$router.replace(this.localePath({
          name: 'forms-form',
          params: {
            ...this.$route.params,
            form: next,
          },
          query: {
            ...this.$route.query,
            startOver: 'true',
            previousForm: this.$route.params.form + '|' + this.currentStepConfig.previous,
          },
        }))
      } else {
        this.currentStep = undefined
        this.$router.replace(this.localePath({
          name: 'forms-form',
          params: this.$route.params,
          query: {
            ...this.$route.query,
            previousForm: this.$route.params.form + '|' + this.currentStepConfig.previous,
          },
        }))
      }
    },
    back () {
      this.navigateToKey('previous')
    },
    proceed () {
      this.navigateToKey('next')
    },
    getAdditionalFields (field: any) {
      if (!field.additionalFields) {
        return undefined
      }
      return field.additionalFields.apply(this, [this.$store.state[this.form.storeKey]])
    },
  },
})
</script>

<style lang="scss" scoped>
  .p-form-index__form {
    margin-top: 3rem;
  }

  .p-form-index__buttons {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    @media (max-width: 50rem) {
      align-items: center;
    }

    button {
      margin: 0.5rem;
      text-align: left;
    }
  }

  .p-form-index__multi-form-content {
    display: flex;
    @media (max-width: 50rem) {
      flex-direction: column;
    }
  }
</style>
