<template>
  <div>
    <Container>
      <Loading />
    </Container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

import Loading from '@/components/elements/Loading.vue'
import { formMap, Form, formIDs, STEP_IDS } from '~/content/forms'
import Container from '~/components/elements/Container.vue'

type VueTypeDef = {
  currentStep: keyof STEP_IDS
  form: Form
}

const Component = Vue.extend({
  data (): VueTypeDef {
    // @ts-ignore
    return {}
  },
})

export default Component.extend({
  name: 'FormIndexPage',
  components: {
    Container,
    Loading,
  },
  computed: {
    form (): Form {
      const id = this.$route.params.form! as keyof typeof formMap
      return formMap[id].form
    },
    currentStep: {
      get () {
        return this.$store.getters[this.form.storeKey + '/getField']('currentStep')
      },
      set (newValue) {
        return this.$store.commit(this.form.storeKey + '/updateField', {
          path: 'currentStep',
          value: newValue,
        })
      },
    },
  },
  beforeMount () {
    if (this.$route.query.startOver === 'true') {
      this.$store.commit(this.form.storeKey + '/reset')
    }
  },
  mounted () {
    const step = Object.values(this.form.steps).find((step: any) => {
      return step.start
    })

    if (step && step.key && step.key.length > 0) {
      this.currentStep = step.key
      const query = this.$route.query
      delete query.startOver
      this.$router.replace(this.localePath({
        name: 'forms-form-key',
        params: {
          ...this.$route.params,
          key: step.key,
        },
        query,
      }))
    }
  },
  validate ({ params }): boolean | Promise<boolean> {
    return !!params.form && formIDs.includes(params.form)
  },
})
</script>
