<template>
  <article class="e-article-card">
    <div class="e-article-card__logo">
      <img class="e-article-card__logo__image" :src="require('~/assets' + logoUrl)" alt="">
    </div>

    <h3 class="e-article-card__title">
      {{ title }}
    </h3>
    <p class="e-article-card__description">
      {{ teaserText }}
    </p>
    <a class="e-article-card__link" :href="url" target="_blank">
      {{ $t('pages.press.articles-section.read_article') }}
      <font-awesome-icon icon="external-link-alt" />
    </a>
  </article>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ArticleCard',
  props: {
    title: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
    url: {
      type: String,
      required: true,
    },
    logoUrl: {
      type: String,
      required: true,
    },
  },
  computed: {
    teaserText (): string {
      let words = this.text.split(' ')
      const maxLength = 15
      const exceedsLength = words.length > maxLength
      words = words.slice(0, maxLength)
      let result = words.join(' ')
      if (exceedsLength) {
        result = result + '...'
      }
      return result
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~assets/styles/core";

  .e-article-card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    max-width: 18rem;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;

    &__logo {
      height: 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      margin-bottom: 0.5rem;

      &__image {
        max-height: 3rem;
        width: auto;
      }
    }

    &__title {
      flex: 0 0 auto;
    }

    &__description {
      flex: 1 1 auto;
      font-size: 1.1rem;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &__link {
      flex: 0 0 auto;
      background-color: $color-secondary;
      color: $contrast-secondary;
      margin: -2rem;
      margin-top: 0;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      svg {
        margin-left: 1.5rem;
      }

      &:hover, &:focus {
        box-shadow: 0 0 0 2px darken($color-secondary, 10%);
      }
    }
  }
</style>
