<template>
  <component
    :is="external ? 'a' : 'nuxt-link'"
    :to="to"
    :href="to"
    :target="(external || download) ? '_blank' : '_self'"
    :class="[
      'e-big-link',
      `e-big-link--${theme}`
    ]"
  >
    <strong class="e-big-link__caption">
      {{ caption }}&nbsp;&nbsp;&nbsp;<font-awesome-icon :icon="linkIcon" />
    </strong>
    <small class="e-big-link__description">
      {{ description }}
    </small>
    <font-awesome-icon
      v-if="icon"
      :icon="icon"
      class="e-big-link__icon"
    />
  </component>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import EnumProp from '~/types/EnumProp'

export enum Theme {
  primary = 'primary',
  secondary = 'secondary',
  tertiary = 'tertiary',
  gitlab = 'gitlab'
}

export default Vue.extend({
  name: 'BigLink',
  props: {
    to: {
      type: String,
      required: true,
    },
    external: {
      type: Boolean,
      default: false,
    },
    download: {
      type: Boolean,
      default: false,
    },
    caption: {
      type: String,
      required: true,
    },
    theme: EnumProp<Theme>(Theme.primary, Theme),
    description: {
      type: String,
      default: null,
    },
    icon: {
      type: [Array, Boolean] as PropType<Array<string> | boolean>,
      default: false,
    },
  },

  computed: {
    linkIcon () {
      if (this.download) {
        return ''
      }
      if (this.external) {
        return 'external-link-alt'
      }
      return 'arrow-right'
    },
  },
})
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/core";

$themes: (
  "primary": ("color": $color-primary, "contrast": $contrast-primary),
  "secondary": ("color": $color-secondary, "contrast": $contrast-secondary),
  "tertiary": ("color": $color-tertiary, "contrast": $contrast-tertiary),
  "gitlab": ("color": #FCA326, "contrast": #FFF),
);

.e-big-link {
  display: block;
  box-shadow: 0 0.5rem 1rem rgba(#000, 0.25), 0 0 0 2px transparent;
  border-radius: $border-radius;
  padding: 4rem 5rem 3rem 2rem;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.2s ease-out;
  font-size: 1rem;
  max-width: 25rem;
  cursor: pointer;
  &:focus {
    outline: none;
  }

  @each $theme_name, $theme in $themes {
    &.e-big-link--#{$theme_name} {
      background-color: map-get($theme, "color");
      color: map-get($theme, "contrast");
      &:hover, &:focus {
        box-shadow: 0 0.5rem 1rem rgba(#000, 0.25), 0 0 0 2px darken(map-get($theme, "color"), 10%);
      }
      .e-big-link__icon {
        color: map-get($theme, "contrast");;
      }
    }
  }
}

.e-big-link__caption {
  display: block;
  position: relative;
  z-index: 2;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.e-big-link__description {
  display: block;
  position: relative;
  z-index: 2;
  font-size: 0.875em;
  color: rgba(#000, 0.5);
  margin-right: 1.5rem;
}

.e-big-link__icon {
  position: absolute;
  font-size: 4em;
  top: 1.5rem;
  right: 1.5rem;
  color: rgba(#000, 0.15);
}

@media (min-width: 40rem) {
  .e-big-link {
    font-size: 1.25rem;
  }
}
</style>
