<template>
  <component
    :is="componentType"
    :to="to"
    :href="to"
    :target="external ? '_blank' : '_self'"
    :class="[
      'e-button',
      `e-button--${theme}`,
      `e-button--width-${width}`,
      disabled ? 'e-button--disabled' : undefined
    ]"
    :disabled="disabled"
    @click="handleClick"
  >
    <slot />
    <font-awesome-icon
      v-if="icon"
      :icon="icon"
      class="e-button__icon"
    />
  </component>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import EnumProp from '@/types/EnumProp'

export enum Theme {
  primary = 'primary',
  secondary = 'secondary',
  tertiary = 'tertiary',
  ghost = 'ghost'
}

export enum Width {
  normal = 'normal',
  wide = 'wide',
  extrawide = 'extrawide'
}

export default Vue.extend({
  name: 'Button',
  props: {
    link: {
      type: Boolean,
      default: false,
    },
    theme: EnumProp<Theme>(Theme.primary, Theme),
    width: EnumProp<Width>(Width.normal, Width),
    to: {
      type: String,
      default: undefined,
    },
    external: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    icon: {
      type: [String, Array, Boolean] as PropType<string | Array<string> | boolean>,
      default: false,
    },
  },

  computed: {
    componentType (): string {
      if (!this.link) {
        return 'button'
      }
      if (this.external) {
        return 'a'
      }
      return 'nuxt-link'
    },
  },

  methods: {
    handleClick (): void {
      this.$emit('click')
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  $themes: (
    "primary": ("color": $color-primary, "contrast": $contrast-primary),
    "secondary": ("color": $color-secondary, "contrast": $contrast-secondary),
    "tertiary": ("color": $color-tertiary, "contrast": $contrast-tertiary),
    "ghost": ("color": $color-ghost, "contrast": $contrast-ghost),
    "disabled": ("color": $color-disabled, "contrast": $contrast-disabled)
  );
  $widths: (
    "normal": 0,
    "wide": 20rem,
    "extrawide": 30rem
  );

  .e-button {
    display: block;
    border-radius: $border-radius;
    border: none;
    padding: 2rem 3rem;
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.2s ease-out;
    font-size: 1rem;
    max-width: 25rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    @each $width_name, $width in $widths {
      &.e-button--width-#{$width_name} {
        min-width: $width;
      }
    }

    @each $theme_name, $theme in $themes {
      &.e-button--#{$theme_name} {
        background-color: map-get($theme, "color");
        color: map-get($theme, "contrast");

        &:hover, &:focus {
          box-shadow: 0 0 0 2px darken(map-get($theme, "color"), 10%);
        }

        .e-button__icon {
          color: map-get($theme, "contrast");;
        }
      }
    }
    .e-button__icon {
      margin-left: 1rem;
    }
  }

  @media (min-width: 40rem) {
    .e-button {
      font-size: 1.25rem;
    }
  }
</style>
