<template>
  <div class="e-container" :class="classes">
    <div class="e-container__content">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import EnumProp from '~/types/EnumProp'

export enum Spacing {
  none = 'none',
  normal = 'normal',
  large = 'large',
  larger = 'larger'
}

export enum Width {
  slim = 'slim',
  narrow = 'narrow',
  normal = 'normal',
  wide = 'wide'
}

export enum Type {
  seamless = 'seamless',
  card = 'card',
  blend = 'blend'
}

export default Vue.extend({
  name: 'TextSection',
  props: {
    padding: EnumProp<Spacing>(Spacing.normal, Spacing),
    marginY: EnumProp<Spacing>(Spacing.normal, Spacing),
    width: EnumProp<Width>(Width.normal, Width),
    type: EnumProp<Type>(Type.seamless, Type),
  },
  computed: {
    classes (): Array<string> {
      return [
        'e-container--padding-' + this.padding,
        'e-container--margin-y-' + this.marginY,
        'e-container--width-' + this.width,
        'e-container--type-' + this.type,
      ]
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .e-container {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-sizing: content-box;

    & + & {
      margin-top: 2rem;
    }

    &.e-container--width-slim {
      max-width: 20rem;
    }

    &.e-container--width-narrow {
      max-width: 40rem;
    }

    &.e-container--width-normal {
      max-width: 60rem;
    }

    &.e-container--width-wide {
      max-width: 80rem;
    }

    &.e-container--padding-normal {
      @include poly-fluid-sizing('padding', (20rem:1rem, 60rem:4rem));
    }

    &.e-container--padding-large {
      @include poly-fluid-sizing('padding', (20rem:4rem, 60rem:7rem));
    }

    &.e-container--padding-larger {
      @include poly-fluid-sizing('padding', (20rem:7rem, 60rem:10rem));
    }

    &.e-container--margin-y-normal {
      @include poly-fluid-sizing('margin-top', (20rem:1rem, 60rem:2rem));
      @include poly-fluid-sizing('margin-bottom', (20rem:1rem, 60rem:2rem));
    }

    &.e-container--margin-y-large {
      @include poly-fluid-sizing('margin-top', (20rem:2rem, 60rem:4rem));
      @include poly-fluid-sizing('margin-bottom', (20rem:2rem, 60rem:4rem));
    }

    &.e-container--margin-y-larger {
      @include poly-fluid-sizing('margin-top', (20rem:4rem, 60rem:8rem));
      @include poly-fluid-sizing('margin-bottom', (20rem:4rem, 60rem:8rem));
    }

    &.e-container--type-seamless {
      z-index: 3; // overlap container of type blend, if necessary
    }

    &.e-container--type-card {
      box-shadow: 0 0.5em 1em 0 rgba(#000, 0.25);
      border-radius: $border-radius;
      background-color: #FFF;
      z-index: 3; // overlap container of type blend, if necessary
    }

    &.e-container--type-blend {
      &:before {
        position: absolute;
        content: '';
        top: 0;
        right: 0;
        left: 0;
        height: 20rem;
        box-shadow: 0 0.5em 1em 0 rgba(#000, 0.25);
        border-radius: $border-radius;
        background-color: #FFF;
      }

      &:after {
        position: absolute;
        content: '';
        top: 10rem;
        right: -2rem;
        left: -2rem;
        height: 20rem;
        margin: 0 auto;
        max-width: 100vw;
        background: $color-background;
        background: linear-gradient(0deg, rgba($color-background, 1) 0%, rgba($color-background, 1) 50%, rgba(#FFF, 0) 100%);
      }

      .e-container__content {
        position: relative;
        z-index: 2;
      }
    }
  }
</style>
