<template>
  <component
    :is="tag"
    class="e-enhanced-button"
    :class="classes"
    :disabled="disabled"
    :href="href"
    :type="type"
    @click="onClick"
  >
    <span
      v-if="left"
      class="e-enhanced-button__left-icon"
    >
      <font-awesome-icon :icon="left" fixed-width />
    </span>
    <span
      v-if="$slots.default"
      class="e-enhanced-button__caption"
    >
      <slot />
    </span>
    <span
      v-if="right"
      class="e-enhanced-button__right-icon"
    >
      <font-awesome-icon :icon="right" fixed-width />
    </span>
  </component>
</template>

<script lang="ts">
import Vue from 'vue'
import EnumProp from '~/types/EnumProp'

export enum Tag {
  button = 'button',
    a = 'a'
}
export enum Type {
  button = 'button',
    submit = 'submit',
    reset = 'reset'
}
export enum Theme {
  primary = 'primary',
  secondary = 'secondary',
  tertiary = 'tertiary',
  positive = 'positive',
  negative = 'negative',
  ghost = 'ghost'
}

export default Vue.extend({
  name: 'EnhancedButton',
  props: {
    tag: EnumProp<Tag>(Tag.button, Tag),
    href: {
      type: String,
      default: null,
    },
    type: EnumProp<Type>(Type.button, Type),
    theme: EnumProp<Theme>(Theme.primary, Theme),
    left: {
      type: String,
      default: '',
    },
    right: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    classes (): Array<string> {
      return [
        `e-enhanced-button--theme-${this.theme}`,
      ]
    },
  },
  methods: {
    onClick (event: Event): void {
      if (this.tag === 'button') {
        event.preventDefault()
      }
      this.$emit('click', event)
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  $themes: (
    "primary": ("color": $color-primary, "contrast": $contrast-primary),
    "secondary": ("color": $color-secondary, "contrast": $contrast-secondary),
    "tertiary": ("color": $color-tertiary, "contrast": $contrast-tertiary),
    "positive": ("color": $color-positive, "contrast": $contrast-positive),
    "negative": ("color": $color-negative, "contrast": $contrast-negative),
    "ghost": ("color": $color-ghost, "contrast": $contrast-ghost),
    "disabled": ("color": $color-disabled, "contrast": $contrast-disabled)
  );

  .e-enhanced-button {
    padding: 1em 1.5em;
    font-size: 1em;
    border: none;
    border-radius: $border-radius;
    text-align: center;
    box-shadow: 0 0.25em 0.5em 0 rgba(#000, 0.25);
    cursor: pointer;
    transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out, border-color 0.2s ease-out;
    appearance: initial;
    &:focus {
      outline: none;
    }

    @each $theme_name, $theme in $themes {
      &.e-enhanced-button--theme-#{$theme_name} {
        background-color: map-get($theme, "color");
        border: 1px solid map-get($theme, "color");
        color: map-get($theme, "contrast");
        &:hover {
          background-color: lighten(map-get($theme, "color"), 10%);
          border-color: lighten(map-get($theme, "color"), 10%);
        }
        &:focus {
          box-shadow: 0 0.25em 0.5em 0 rgba(#000, 0.25), 0 0 0 2px map-get($theme, "color");
        }
        &:disabled {
          background-color: $color-disabled;
          border: 1px solid $color-disabled;
          color: $contrast-disabled;
          box-shadow: none;
          cursor: not-allowed;
        }
      }
    }
  }

  .e-enhanced-button__left-icon {
    display: inline-block;
    margin-right: 1em;
  }

  .e-enhanced-button__right-icon {
    display: inline-block;
    margin-left: 1em;
  }

  @media (min-width: 40em) {
    .e-enhanced-button {
      font-size: 1.2em;
    }
  }
</style>
