<template>
  <div class="e-loading">
    <font-awesome-icon class="e-loading__icon" icon="spinner" pulse />
    <p class="e-loading__text">
      {{ $t('ui.loading') }}
    </p>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'Loading',
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";
  .e-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    min-height: 40vh;

    &__icon {
      font-size: 4rem;
      color: $color-primary;
    }
    &__text {
      color: $color-primary;
      font-size: 2rem;
    }
  }
</style>
