<template>
  <p>{{ $t('ui.quarantine-date.text') }} {{ displayedDate }}</p>
</template>

<script lang="ts">
import Vue from 'vue'
import dayjs from 'dayjs'

export default Vue.extend({
  name: 'QuarantineDisplay',
  props: {
    date: {
      type: Object,
      required: true,
    },
    quarantineDuration: {
      type: Number,
      default: 14,
    },
  },

  computed: {
    displayedDate (): string {
      const date = dayjs(this.date)
      if (!this.date || !date.isValid()) {
        return this.$t('ui.quarantine-date.after_n_days', { days: this.quarantineDuration }) as string
      }
      return date.add(this.quarantineDuration, 'day').format('DD.MM.YYYY')
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";
</style>
