<template>
  <nav class="e-responsive-menu">
    <button
      class="e-responsive-menu__toggle"
      aria-haspopup="true"
      :aria-expanded="visible"
      @click="visible = !visible"
    >
      <font-awesome-icon
        :icon="visible ? 'times' : 'bars'"
        monospace
        :aria-label="$t('ui.menu')"
      />
    </button>
    <transition :name="desktop ? 'no-transition' : 'menu'">
      <ul
        v-if="visible || desktop"
        class="e-responsive-menu__menu"
        role="menu"
      >
        <li
          v-for="(item, index) in items"
          :key="item.title"
          :class="{
            'e-responsive-menu__item': true,
            'e-responsive-menu__item--active': isActive(item)
          }"
          role="menuitem"
        >
          <nuxt-link :to="item.to" :tabindex="index">
            {{ item.title }}
          </nuxt-link>
        </li>
        <li
          v-for="(item, index) in socialLinks()"
          :key="item.title"
          class="e-responsive-menu__item e-responsive-menu__item--social"
          role="menuitem"
        >
          <a
            :href="item.to"
            :tabindex="index"
            :title="item.title"
            target="_blank"
          >
            <font-awesome-icon :icon="item.icon" fixed-width />
            <span>{{ item.title }}</span>
          </a>
        </li>
      </ul>
    </transition>
  </nav>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

interface Data {
  visible: boolean
  desktop: boolean
}
interface Item {
  title: string
  to: any
  icon: string | Array<string>
}

export default Vue.extend({
  name: 'ResponsiveMenu',
  props: {
    items: {
      type: Array as PropType<Array<Item>>,
      required: true,
    },
  },
  data (): Data {
    return {
      visible: true, // for non-js users
      desktop: false,
    }
  },
  mounted (): void {
    this.visible = false // for js users
    window.addEventListener('resize', this.updateMenuVisibility)
    this.updateMenuVisibility()
  },
  methods: {
    updateMenuVisibility (): void {
      this.desktop = document.body.offsetWidth > 640
    },
    socialLinks (): Array<Item> {
      return []
    },
    isActive (item: Item): boolean {
      const r = this.$router.resolve(item.to)
      return this.getRouteBaseName(r.route) === this.getRouteBaseName()
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .e-responsive-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    z-index: 70;
  }

    .e-responsive-menu__toggle {
      appearance: none;
      padding: 1rem;
      background-color: $color-primary;
      color: $contrast-primary;
      border-radius: 50%;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      font-size: 1.5rem;
      z-index: 71;
      border: 2px solid transparent;
      transition: border-color 0.2s ease-out;
      display: flex;
      justify-content: center;
      align-items: center;
      &:focus {
        outline: none;
        border-color: darken($color-primary, 10%);
      }
    }

    .e-responsive-menu__menu {
      background-color: #FFF;
      list-style-type: none;
      padding: 0;
      margin: 0;
      position: absolute;
      z-index: 72;
      width: 80vw;
      top: calc(4rem - 2px);
      right: 0;
      box-shadow: 0 2rem 8rem 0 rgba(#000, 0.25);
      border-radius: $border-radius-small 0 $border-radius-small $border-radius-small;
      overflow: hidden;
    }

      .e-responsive-menu__item {
        font-size: 1.1rem;
        a {
          display: block;
          padding: 1rem;
          transition: background-color 0.2s ease-out;
          color: $color-primary;
          &:focus, &:hover {
            outline: none;
            background-color: $color-lighter;
          }
        }
        & + & {
          border-top: 1px solid $color-light;
        }
        &.e-responsive-menu__item--social {
          background-color: $color-lighter;
          text-align: center;
          span {
            display: inline-block;
            margin-left: 1em;
          }
        }
      }

  @media (min-width: 640px) {
    .e-responsive-menu {
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
    }

      .e-responsive-menu__toggle {
        display: none;
      }

      .e-responsive-menu__menu {
        position: initial;
        top: initial;
        right: initial;
        display: inline-block !important;
        width: auto;
        height: auto;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
      }

        .e-responsive-menu__item {
          display: inline-block;
          a {
            color: $color-text;
            border-top: none;
            transition: border-bottom-color 0.3s ease-in-out;
            border-bottom: 2px solid;
            border-bottom-color: transparent;
            padding-top: 1.4rem;
            @include poly-fluid-sizing('padding-bottom', (50rem:1rem, 80rem:1.5rem));
            @include poly-fluid-sizing('padding-left', (50rem:0.6rem, 80rem:3rem));
            @include poly-fluid-sizing('padding-right', (50rem:0.6rem, 80rem:3rem));
            &:focus, &:hover {
              border-bottom-color: lighten($color-primary, 20%);
              background-color: transparent;
            }
          }

          &--active a {
            &, &:focus, &:hover {
              border-bottom-color: $color-primary;
            }
          }
          & + & {
            border-top: none;
          }
          &.e-responsive-menu__item--social {
            background-color: transparent;
            span {
              display: none;
            }
          }
        }
  }

  .menu-enter-active {
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  .menu-enter, .menu-leave-to {
    opacity: 0;
    transform: translateX(2rem);
  }
  .menu-leave-active {
    transition: opacity 0.15s ease-in, transform 0.15s ease-in;
  }
</style>
