<template>
  <Container type="card" :width="width" :margin-y="marginY" padding="none">
    <div class="m-segmented-card">
      <div v-for="(segment, index) in segments" :key="index" class="m-segmented-card__segment">
        <p class="m-segmented-card__segment__caption">
          {{ segment.caption }}
        </p>
        <p>{{ segment.text }}</p>
      </div>
    </div>
  </Container>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import Container from '@/components/elements/Container.vue'
import EnumProp from '~/types/EnumProp'

export interface Segment {
  caption: string,
  text: string
}
export enum Spacing {
  none = 'none',
  normal = 'normal',
  large = 'large',
  larger = 'larger'
}

export enum Width {
  slim = 'slim',
  narrow = 'narrow',
  normal = 'normal',
  wide = 'wide'
}

export default Vue.extend({
  name: 'SegmentedCard',
  components: {
    Container,
  },
  props: {
    segments: {
      type: Array as PropType<Array<Segment>>,
      default () {
        return []
      },
    },
    marginY: EnumProp<Spacing>(Spacing.normal, Spacing),
    width: EnumProp<Width>(Width.normal, Width),
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .m-segmented-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
  .m-segmented-card__segment {
    flex: 1 1 auto;
    padding: 2rem;
    & + & {
      border-left: 2px solid #E0E0E0;
    }
    &__caption {
      color: $color-primary;
    }
  }

  @media (max-width: 50rem) {
    .m-segmented-card {
      flex-direction: column;
    }
    .m-segmented-card__segment {
      flex: 1 1 auto;
      padding: 2rem;

      & + & {
        border-left: none;
        border-top: 2px solid #E0E0E0;
      }
    }
  }
</style>
