<template>
  <Button class="start-over-button" theme="primary" width="wide" :to="localePath('/')" :link="true">
    {{ $t('ui.back_to_start') }}
  </Button>
</template>

<script lang="ts">
import Vue from 'vue'
import Button from '~/components/elements/Button.vue'

export default Vue.extend({
  name: 'StartOverButton',
  components: {
    Button,
  },
})
</script>

<style lang="scss" scoped>
  .start-over-button {
    margin-top: 2em;
    display: block;
    margin-left: auto;
    text-align: center;
    width: max-content;
    @media (max-width: 50rem) {
      margin-right: auto;
    }
  }
</style>
