<template>
  <ul class="e-team">
    <li
      v-for="(member, alias) in members"
      :key="alias"
      class="e-team__member"
      :style="`order: ${membersInRandomOrder.indexOf(alias)}`"
    >
      <a :href="member.link.href" class="e-team__link">
        <img
          :src="require(`~/assets/team/${alias}.jpg`)"
          :alt="member.name"
          class="e-team__avatar"
        >
        <font-awesome-icon
          :icon="member.link.icon"
          :class="[
            'e-team__link-icon',
            `e-team__link-icon--${member.link.icon[1] || 'unknown'}`
          ]"
        />
      </a>
      <span class="e-team__name">
        {{ member.name }}
      </span>
      <span class="e-team__position">
        {{ member.position }}
      </span>
    </li>
  </ul>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import _shuffle from 'lodash/shuffle'

interface Member {
  name: string
  position: string
  link: {
    href: string,
    icon: Array<string>
  }
}
interface Members {
  [alias: string]: Member
}

export default Vue.extend({
  name: 'Team',
  props: {
    members: {
      type: Object as PropType<Members>,
      required: true,
    },
  },
  computed: {
    membersInRandomOrder () {
      return _shuffle(Object.keys(this.members))
    },
  },
  // @ts-ignore
  jsonld () {
    const members = []
    // @ts-ignore
    for (const alias in (this as any).members) {
      members.push({
        '@type': 'Person',
        name: (this as any).members[alias].name,
        jobTitle: (this as any).members[alias].position,
        sameAs: (this as any).members[alias].link.href,
        image: `${(this as any).$config.baseUrl}/assets/team/${alias}.jpg`,
      })
    }
    return {
      '@context': 'http://schema.org',
      '@type': 'Organization',
      name: 'Digitales Wartezimmer',
      employee: members,
    }
  },
})
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/core.scss";

// Maximum columns of team members
$max_columns: 4;

.e-team {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  max-width: 100%;
}

.e-team__member {
  $horizontal_margin: 1rem;
  $width: 14rem;
  margin: 1rem $horizontal_margin 2rem $horizontal_margin;
  width: $width;
  text-align: center;
  // Limit to a maximum of columns of team members
  flex-basis: calc(max(#{$width}, (1 / #{$max_columns} * 100%) - (2 * #{$horizontal_margin})));
}

.e-team__link {
  display: inline-block;
  position: relative;
  margin-bottom: 1rem;
  img {
    display: block;
    box-shadow: 0 0.5rem 1rem 0 rgba(#000, 0.25);
    transition: transform 0.2s ease-out;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
}

.e-team__avatar {
  border-radius: 100%;
  display: block;
  width: 150px;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}

.e-team__link-icon {
  position: absolute;
  right: -1rem;
  top: 120px;
  font-size: 2rem;
  background-color: $color-background;
  padding: 0.35rem 2rem 2rem 0.5rem;
  border-radius: $border-radius-small 0 0 0;
}

.e-team__link-icon--linkedin {
  color: #0077b5;
}

.e-team__name {
  display: block;
  position: relative;
  z-index: 2;
}

.e-team__position {
  display: block;
  color: $color-dark;
  font-size: 0.875rem;
  z-index: 2;
}
</style>
