// Colors
$color-primary: #03DAC6;
$contrast-primary: #002F33;

$color-secondary: #36A9E1;
$contrast-secondary: #002F33;

$color-tertiary: #006FCC;
$contrast-tertiary: #FFFFFF;

$color-primary: #03DAC6;
$contrast-primary: #002F33;

$color-positive: #42B983;
$contrast-positive: #FFFFFF;

$color-warning: rgb(253, 179, 68);
$contrast-warning: #FFFFFF;

$color-negative: #CC0000;
$contrast-negative: #FFFFFF;

$color-text: #002f33;
$color-focus: rgb(91, 189, 255);

$color-disabled: #E0E0E0;
$contrast-disabled: #828282;

$color-ghost: #828282;
$contrast-ghost: #FFFFFF;

$color-background: #FFFFFF;

$color-lighter: #F0F0F0;
$color-lighter-transparent: rgba(#FFF, 0.05);
$color-light: #dadada;
$color-light-transparent: rgba(#FFF, 0.2);
$color-medium: desaturate(lighten($color-primary, 40%), 50%);
$color-dark: #777777;
$color-dark-transparent: rgba(#000, 0.5);
$color-darker: #262626;
$color-darker-transparent: rgba(#000, 0.15);

// Borders
$border-radius: 5rem;
$border-radius-medium: $border-radius / 3;
$border-radius-small: 5px;
$border-color: #BEBEBE;

// Font
$font-family-sans: 'Roboto', 'Noto Sans', 'Open Sans', 'Arial', sans-serif;
$font-family-serif: 'Noto Serif', 'Georgia', 'Cambria', serif;
