<template>
  <ValidationProvider v-slot="{ changed, errors }" ref="field" :name="name" :rules="rules">
    <Field
      :name="name"
      :alias="alias"
      :description="description"
      field-class="e-field--radio"
      :help-title="helpTitle"
      :help-text="helpText"
      :errors="errors"
      :changed="changed"
      :help-caption="helpCaption"
      :display-check-icon="false"
      :rules="rules"
    >
      <div class="e-field__options">
        <template v-for="option in options">
          <div :key="option.value" class="e-field__option">
            <div class="c-field__input">
              <input
                :id="`radio-${alias}-${option.value}`"
                v-model="cache"
                :name="`radio-${alias}`"
                :value="option.value"
                type="radio"
                :class="{ checked: cache === option.value }"
              >
              <font-awesome-icon icon="circle" class="c-field__input-checked" />
            </div>
            <label :for="`radio-${alias}-${option.value}`">
              <span class="e-field__option-caption">
                {{ option.caption }}
              </span>
              <span v-if="option.description" class="e-field__option-description">
                {{ option.description }}
              </span>
            </label>
          </div>
        </template>
      </div>
    </Field>
  </ValidationProvider>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import Field from './Field.vue'

interface Data {
  cache: string | undefined
}
interface Option {
  value: string
  caption: string
  description: string
}

export default Vue.extend({
  name: 'FieldRadio',
  components: { Field },
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    alias: {
      type: String,
      required: true,
    },
    // The human readable name
    name: {
      type: String,
      required: true,
    },
    options: {
      type: Array as PropType<Array<Option>>,
      required: true,
    },
    value: {
      type: String,
      default: null,
    },
    description: {
      type: String,
      default: '',
    },
    helpText: {
      type: String,
      default: undefined,
    },
    helpTitle: {
      type: String,
      default: '',
    },
    rules: {
      type: [String, Object] as PropType<string | object>,
      required: true,
    },
    helpCaption: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data (): Data {
    return {
      cache: undefined,
    }
  },
  watch: {
    value: {
      handler (value): void {
        this.updateCache(value)
      },
      immediate: true,
    },
    cache () {
      this.publish()
    },
  },
  methods: {
    updateCache (value: string) {
      this.cache = value
    },
    publish () {
      this.$emit('change', this.cache)
    },
  },
})
</script>

<style lang="scss" scoped>
  @import '~@/assets/styles/core';

  .e-field__options {
    margin-top: 0.5rem;
  }

  .e-field__option {
    padding: 1rem 0;
    display: flex;

    label {
      display: block;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .c-field__input {
    padding: 0 2rem 0 0;
    position: relative;

    input {
      border-radius: 100%;
      background-color: #FFF;
      width: 2rem;
      height: 2rem;
      margin: 0.5rem 0 0;
      border: 1px solid $border-color;
      appearance: none;
      transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out, border-color 0.2s ease-out;
      cursor: pointer;

      &:hover {
        background-color: darken(#FFF, 2.5%);
        box-shadow: 0 0 0 1px $color-light;
      }

      &:focus {
        box-shadow: 0 0 0 2px $color-primary;
        outline: none;
      }

      &.checked {
        border-color: $color-text;
      }
    }
  }

  .c-field__input-checked {
    position: absolute;
    top: 1rem;
    left: 0.5rem;
    color: $color-primary;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    pointer-events: none;
  }

  .c-field__input input:checked + .c-field__input-checked {
    opacity: 1;
  }

  .e-field__option-caption {
    display: block;
    font-size: 1.25rem;
    padding: 0.75rem 0;
  }

  .e-field__option-description {
    display: block;
    font-size: 1rem;
    max-width: 40rem;
    color: $color-dark;
  }
</style>
