<template>
  <ValidationProvider v-slot="{ changed, errors }" ref="field" :name="name" :rules="rules">
    <Field
      :name="name"
      :alias="alias"
      :description="description"
      field-class="e-field--switch"
      :help-title="helpTitle"
      :help-text="helpText"
      :errors="errors"
      :changed="changed"
      :help-caption="helpCaption"
      :display-check-icon="false"
      :rules="rules"
    >
      <div class="e-field__options">
        <template v-for="option in options">
          <div :key="option.value" class="e-field__option">
            <input
              :id="`switch-${alias}-${option.value}`"
              v-model="cache"
              :name="`switch-${alias}`"
              :value="option.value"
              type="radio"
              class="u-sr-only"
            >
            <label :for="`switch-${alias}-${option.value}`">
              <span class="e-field__option-icon">
                <font-awesome-icon :icon="option.icon" />
              </span>
              <span class="e-field__option-caption">
                {{ option.caption }} {{ option.invalid }}
              </span>
            </label>
          </div>
        </template>
      </div>
    </Field>
  </ValidationProvider>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import Field from './Field.vue'

interface Data {
  cache: string | undefined
}
interface Option {
  value: string
  caption: string
  icon: string | string[]
}

export default Vue.extend({
  name: 'FieldSwitch',
  components: { Field },
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    alias: {
      type: String,
      required: true,
    },
    // The human readable name
    name: {
      type: String,
      required: true,
    },
    options: {
      type: Array as PropType<Array<Option>>,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      default: '',
    },
    helpText: {
      type: String,
      default: undefined,
    },
    helpTitle: {
      type: String,
      default: '',
    },
    rules: {
      type: [String, Object] as PropType<string | object>,
      required: true,
    },
    helpCaption: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data (): Data {
    return {
      cache: undefined,
    }
  },
  watch: {
    value: {
      handler (value): void {
        this.updateCache(value)
      },
      immediate: true,
    },
    cache (value) {
      if (!!value && value.length > 0) {
        this.publish()
      }
    },
  },
  methods: {
    updateCache (value: string) {
      this.cache = value
    },
    publish () {
      this.$emit('change', this.cache)
    },
  },
})
</script>

<style lang="scss" scoped>
  @import '~@/assets/styles/core';

  .e-field__options {
    display: flex;
    border: 1px solid $border-color;
    border-radius: 0;
    margin-top: 0.5rem;
  }

  .e-field__option {
    flex: 1 1;

    $color-not-selected: #BDBDBD;
    $color-selected: #333333;
    label {
      padding: 1rem;
      border-top: 1px solid $color-not-selected;
      border-bottom: 1px solid $color-not-selected;
      display: block;
      font-size: 1.4rem;
      box-sizing: border-box;
      transition: all 0.1s ease-out;
      text-align: center;
      background-color: #FFF;
      cursor: pointer;
      position: relative;
      color: $color-not-selected;

      &:hover {
        border-top-color: darken($color-not-selected, 2.5%);
        border-bottom-color: darken($color-not-selected, 2.5%);
      }
    }

    & + & {
      label {
        border-left: 2px solid $border-color;
      }
    }

    &:first-of-type label {
      border-radius: 0;
    }

    &:last-of-type label {
      border-radius: 0;
    }

    input:checked + label {
      color: $color-selected;
      border: 1px solid $color-selected;
      .e-field__option-icon {
        color: $color-selected;
      }
    }

    input:focus + label {
      box-shadow: 0 0 0 2px darken($color-primary, 10%);
      outline: none;
      z-index: 2;
    }
  }

  .e-field__option-icon {
    display: block;
    font-size: 1.5rem;
  }

  .e-field__option-caption {
    display: block;
    font-size: 1rem;
  }
</style>
