<template>
  <div :class="classes" class="e-field">
    <div class="e-field__title">
      <div class="e-field__title__text">
        <label
          :for="`field-${alias}`"
          :class="errors.length > 0 ? 'invalid' : changed ? 'valid' : ''"
          class="e-field__label"
        >
          {{ name.trim() }}<span v-if="isRequired" class="e-field__label__required-mark">*</span>
        </label>
      </div>
    </div>
    <slot />
    <div class="e-field__notes">
      <small v-if="errors.length > 0" class="e-field__notes__note error">
        {{ errors[0] }}
      </small>
      <small v-else class="e-field__notes__note">&nbsp;</small>
    </div>
    <div v-if="displayCheckIcon" class="e-field__icons">
      <small v-if="errors.length === 0 && changed" class="e-field__icons__icon valid">
        <font-awesome-icon icon="check-circle" />
      </small>
    </div>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'

export default Vue.extend({
  name: 'Field',
  props: {
    alias: {
      type: String,
      required: true,
    },
    // The human readable name
    name: {
      type: String,
      required: true,
    },
    errors: {
      type: Array as PropType<Array<any>>,
      default: () => [],
    },
    changed: {
      type: Boolean,
      default: false,
    },
    description: {
      type: String,
      default: '',
    },
    fieldClass: {
      type: [String, Array, Object] as PropType<string | object | Array<string>>,
      default: '',
    },
    helpText: {
      type: String,
      default: undefined,
    },
    helpTitle: {
      type: String,
      default: '',
    },
    helpCaption: {
      type: String,
      default: '',
    },
    hasTransitioningLabel: {
      type: Boolean,
      default: false,
    },
    isEmpty: {
      type: Boolean,
      default: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    displayCheckIcon: {
      type: Boolean,
      default: true,
    },
    rules: {
      type: [String, Object] as PropType<string | object>,
      required: true,
    },
  },
  data () {
    return {
      focused: false as boolean,
    }
  },
  computed: {
    classes () {
      if (!this.hasTransitioningLabel) {
        return this.fieldClass
      }
      let result: Record<string, boolean> = {}
      let arr: Array<string> = []
      if (Array.isArray(this.fieldClass)) {
        arr = this.fieldClass
      } else if (typeof this.fieldClass === 'string') {
        arr = (this.fieldClass as string).split(' ')
      } else {
        // @ts-ignore
        result = this.fieldClass
      }
      if (arr.length > 0) {
        arr.forEach((el) => {
          result[el] = true
        })
      }
      return {
        ...result,
        'e-field--transitioning-label': this.hasTransitioningLabel,
        'e-field--focused': (this as any).focused,
        'e-field--empty': this.isEmpty,
      }
    },
    isRequired (): boolean {
      if (typeof this.rules === 'string') {
        return (this.rules as string).includes('required') || (this.rules as string).includes('min_array_length:1')
      } else {
        return !!(this.rules as Record<string, boolean | undefined>).required
      }
    },
  },
  mounted () {
    (this as any).$on('blur', (this as any).onBlur);
    (this as any).$on('focus', (this as any).onFocus)
  },
  methods: {
    onBlur () {
      (this as any).focused = false
    },
    onFocus () {
      (this as any).focused = true
    },
  },
})
</script>

<style lang="scss">
  @import "~@/assets/styles/core";

  .e-field__hint__popover {
    @include poly-fluid-sizing('max-width', (20rem:40rem, 60rem:25rem));
    &__title {
      background-color: #FFFFFF;
      width: 100%;
      padding: 24px;
      margin: -24px -24px 0;
      display: block;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }
  .tooltip[x-placement^="bottom"] {
    .tooltip-arrow {
      border-color: #FFFFFF;
    }
  }
</style>

<style lang="scss" scoped>
  @import '~@/assets/styles/core';

  .e-field {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1rem;

    .e-field__title {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;

      .e-field__label {
        display: block;
        transition: color 0.2s ease-out;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0.5rem 0.5rem 0.5rem 2rem;

        &__required-mark {
          margin-left: 0.25rem;
        }
      }

      .e-field__description {
        color: $color-dark;
        display: block;
        margin-top: 0.25rem;
        margin-bottom: 0;
      }

      .e-field__title__text {
        flex: 1 1 auto;
      }

      .e-field__hint {
        flex: 0 0 auto;
        margin-right: 28px;

        .e-field__hint__content {
          $color: #504F72;
          color: $color;
          text-align: right;
          cursor: pointer;
          transition: color 0.1s;
          svg {
            margin-left: 0.5rem;
          }
          span {
            text-decoration: underline dotted $color;
          }
          &:hover {
            color: darken($color, 20%);
          }

          @media (max-width: 40rem) {
            span {
              display: none;
            }
            svg {
              margin-left: 0;
            }
          }
        }
      }
    }

    &--radio, &--checkbox {
      .e-field__title {
        .e-field__label {
          padding-left: 0rem;
        }
      }
    }

    .e-field__notes {
      display: block;
      margin-top: 0.25rem;
      font-size: 0.75rem;
      color: #999;
      text-align: left;
      position: relative;
      padding-left: 2rem;
      height: 0.5rem;

      .e-field__notes__note {
        &.error {
          color: $color-negative;
        }

        &.valid {
          color: $color-positive;
        }
      }
    }

    .e-field__icons {
      position: relative;
      text-align: right;
      right: 1rem;
      top: -3.75rem;
      align-self: flex-end;
      height: 0.5rem;

      .e-field__icons__icon {
        svg {
          width: 1rem;
          height: 1rem;
        }
        &.error {
          color: $color-negative;
        }

        &.valid {
          color: $color-positive;
        }
      }
    }

    &--transitioning-label {
      margin-top: -5rem;
      .e-field__title {
        height: 5rem;
        top: 5rem;
        position: relative;
        transition: all 200ms ease-in-out;
        display: flex;
        flex: auto;
        width: 100%;
      }

      input {
        padding-top: 2rem;
      }

      .e-field__title__text {
        display: flex;
        height: 100%;
        width: 100%;
      }

      .e-field__title .e-field__label {
        user-select: none;
        position: relative;
        display: flex;
        flex: 1;
        z-index: 1;
        top: 0;
        transition: all 200ms ease-in-out;
        font-weight: 300;
        font-size: 0.75rem;
        width: 100%;
      }

      &.e-field--empty:not(.e-field--focused) {
        .e-field__title {
          .e-field__label {
            top: 0;
            padding-top: 1.5rem;
            color: #BEBEBE;
            cursor: text;
            font-size: 1.5rem;
          }
        }
      }
      &.e-field--focused.e-field--empty {
        .e-field__title .e-field__label {
          top: 0;
        }
      }
    }

  }

</style>
