<template>
  <ValidationProvider v-slot="{ changed, errors }" ref="field" :name="name" :rules="rules">
    <Field
      :name="name"
      :alias="alias"
      :description="description"
      :help-title="helpTitle"
      :help-text="helpText"
      :help-caption="helpCaption"
      field-class="e-field--checkbox"
      :errors="errors"
      :changed="changed"
      :display-check-icon="false"
      :rules="rules"
    >
      <div class="e-field__options">
        <template v-for="option in options">
          <div :key="option.value" :class="{ 'e-field__option': true, 'e-field__option--checked': cache.includes(option.value) }">
            <div class="c-field__input">
              <input
                :id="`checkbox-${alias}-${option.value}`"
                v-model="cache"
                :name="`checkbox`"
                :value="option.value"
                type="checkbox"
              >
              <font-awesome-icon icon="check" class="c-field__input-checked" />
            </div>
            <label :for="`checkbox-${alias}-${option.value}`">
              <span class="e-field__option-caption">
                {{ option.caption }}
              </span>
              <!-- eslint-disable-next-line vue/no-v-html -->
              <span v-if="option.description" class="e-field__option-description" v-html="option.description" />
            </label>
          </div>
        </template>
      </div>
    </Field>
  </ValidationProvider>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { ValidationProvider } from 'vee-validate'
import Field from './Field.vue'

interface Option {
  value: string
  caption: string
  description: string
}
interface Data {
  cache: Array<string>
}

export default Vue.extend({
  name: 'FieldCheckbox',
  components: { Field },
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    alias: {
      type: String,
      required: true,
    },
    // The human readable name
    name: {
      type: String,
      default: null,
    },
    options: {
      type: Array as PropType<Array<Option>>,
      required: true,
    },
    value: {
      type: Array as PropType<Array<string>>,
      required: true,
    },
    description: {
      type: String,
      default: '',
    },
    helpText: {
      type: String,
      default: undefined,
    },
    helpTitle: {
      type: String,
      default: '',
    },
    rules: {
      type: [String, Object] as PropType<string | object>,
      required: true,
    },
    helpCaption: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data (): Data {
    return {
      cache: [],
    }
  },
  watch: {
    value: {
      handler (value): void {
        this.updateCache(value)
      },
      immediate: true,
    },
    cache (): void {
      this.publish()
    },
  },
  methods: {
    updateCache (value: string[]): void {
      if (this.$refs.field) {
        (this.$refs.field as InstanceType<typeof ValidationProvider>).syncValue(value);
        (this.$refs.field as InstanceType<typeof ValidationProvider>).validate()
      }
      this.cache = value
    },
    publish (): void {
      this.$emit('change', this.cache)
    },
  },
})
</script>

<style lang="scss" scoped>
  @import '~@/assets/styles/core';
  $color-not-selected: #BDBDBD;
  $color-selected: #333333;

  .e-field__options {
    margin-top: 0.5rem;
  }

  .e-field__option {
    padding: 1rem 0;
    display: flex;

    label {
      display: block;
      font-size: 1.4rem;
      cursor: pointer;
    }

    &--checked {
      .e-field__option-caption {
        color: $color-selected;
      }
    }
  }

  .c-field__input {
    padding: 0 2rem 0 0;
    position: relative;

    input {
      border: 1px solid $border-color;
      border-radius: 0;
      background-color: #FFF;
      width: 3rem;
      height: 3rem;
      margin: 0;
      transition: background-color 0.2s ease-out, box-shadow 0.2s ease-out, border-color 0.2s ease-out;
      appearance: none;
      cursor: pointer;
      color: $color-not-selected;

      &:hover {
        background-color: darken(#FFF, 2.5%);
        box-shadow: 0 0 0 1px $color-light;
      }

      &:focus {
        box-shadow: 0 0 0 2px $color-primary;
        outline: none;
      }
    }
  }

  .c-field__input-checked {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #FFF;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    pointer-events: none;
  }

  .c-field__input input:checked {
    background-color: $color-primary;
    border-color: $color-primary;
  }

  .c-field__input input:checked + .c-field__input-checked {
    opacity: 1;
  }

  .e-field__option-caption {
    display: block;
    font-size: 1.25rem;
    padding: 0.75rem 0;
    color: $color-not-selected;
  }

  .e-field__option-description {
    display: block;
    font-size: 1rem;
    max-width: 40rem;
    color: $color-dark;
  }
</style>
