<template>
  <ValidationProvider v-slot="{ changed, errors }" ref="field" :name="name" :rules="rules">
    <Field
      ref="parent"
      :name="name"
      :alias="alias"
      :description="description"
      :changed="changed"
      :errors="errors"
      :help-title="helpTitle"
      :help-text="helpText"
      :help-caption="helpCaption"
      :has-transitioning-label="true"
      :is-empty="isEmpty"
      field-class="e-field--textarea"
      :display-check-icon="false"
      :rules="rules"
    >
      <div
        class="e-field__textarea"
        :class="errors.length > 0 ? 'invalid' : changed ? 'valid' : ''"
      >
        <textarea
          :id="`field-${alias}`"
          :name="alias"
          :value="cache"
          @focus="handleFocus()"
          @input="updateCache($event.target.value)"
          @blur="publish()"
        />
        <small
          v-if="remainingCharacters"
          class="e-field__counter"
        >
          {{ $t('ui.input.remaining', { count: remainingCharacters }) }}
        </small>
      </div>
    </Field>
  </ValidationProvider>
</template>

<script lang="ts">
import { PropType } from 'vue'
import { ValidationProvider } from 'vee-validate'
import maxMixin from './maxMixin'
import Field from './Field.vue'

interface Data {
  cache: string | undefined
}

export default maxMixin.extend({
  name: 'FieldTextarea',
  components: { Field },
  mixins: [maxMixin],
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    alias: {
      type: String,
      required: true,
    },
    // The human readable name
    name: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    rules: {
      type: [String, Object] as PropType<string | object>,
      required: true,
    },
    placeholder: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    helpText: {
      type: String,
      default: undefined,
    },
    helpTitle: {
      type: String,
      default: '',
    },
    helpCaption: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data (): Data {
    return {
      cache: undefined,
    }
  },
  computed: {
    remainingCharacters (): number | undefined {
      if (this.max !== undefined && this.cache !== undefined) {
        return this.max - this.cache.length
      }
      return undefined
    },
    isEmpty (): boolean {
      return !this.cache || this.cache.trim() === ''
    },
  },
  watch: {
    value (value) {
      this.cache = value
    },
  },
  mounted () {
    this.cache = this.value
  },
  methods: {
    updateCache (value: string) {
      this.cache = value
      this.$emit('input', this.cache);
      (this.$refs.field as InstanceType<typeof ValidationProvider>).validate(this.cache).then(({ valid }) => {
        if (valid) {
          this.$emit('change', this.cache)
        }
      })
    },
    handleFocus () {
      (this.$refs.parent as any).$emit('focus')
    },
    publish () {
      (this.$refs.parent as any).$emit('blur')
    },
  },
})
</script>

<style lang="scss" scoped>
  @import '~@/assets/styles/core';

  .e-field__textarea {
    position: relative;
  }

  .e-field__textarea + small {
    display: block;
    margin-top: 0.5rem;
    font-style: italic;
    color: #999;
    text-align: right;
  }

  .e-field__textarea.valid textarea {
    border-color: $color-positive;
  }

  .e-field__textarea.invalid textarea {
    border-color: $color-negative;
  }

  .e-field__textarea + small.valid {
    color: $color-positive;
  }

  .e-field__textarea + small.error {
    color: $color-negative;
  }

  textarea {
    padding: 1.5rem 2rem;
    border-radius: 0;
    border: 1px solid $border-color;
    display: block;
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;
    min-height: 10rem;
    appearance: none;
  }

  textarea:hover {
    border-color: $color-light;
    box-shadow: 0 0 0 1px $color-light;
  }

  textarea:focus {
    border-color: $color-primary;
    box-shadow: 0 0 0 1px $color-primary;
    outline: none;
  }

  textarea.valid:focus, textarea.valid:hover {
    box-shadow: 0 0 0 1px $color-positive;
  }

  textarea.invalid:focus, textarea.invalid:hover {
    box-shadow: 0 0 0 1px $color-negative;
  }

  ::placeholder {
    font-style: italic;
    color: #CCC;
  }

  .e-field__counter {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    background: radial-gradient(
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0.75) 50%,
        rgba(255, 255, 255, 0) 75%
    );
  }
</style>
