<template>
  <ValidationProvider v-slot="{ changed, errors }" ref="field" :name="name" :rules="rules">
    <Field
      ref="parent"
      :name="name"
      :help-title="helpTitle"
      :help-text="helpText"
      :help-caption="helpCaption"
      :alias="alias"
      :description="description"
      :errors="errors"
      :changed="changed"
      :has-transitioning-label="type !== 'date'"
      :is-empty="isEmpty"
      :disabled="disabled"
      :rules="rules"
    >
      <input
        :id="`field-${alias}`"
        :name="alias"
        :value="cache"
        :class="inputClasses(errors, changed)"
        :type="type"
        :placeholder="type === 'date' ? placeholder : undefined"
        :maxlength="max"
        :disabled="disabled"
        @focus="handleFocus()"
        @input="updateCache($event.target.value)"
        @blur="publish()"
      >
    </Field>
  </ValidationProvider>
</template>

<script lang="ts">
import { PropType } from 'vue'
import { ValidationProvider } from 'vee-validate'
import EnumProp from '../../../types/EnumProp'
import maxMixin from './maxMixin'
import Field from './Field.vue'

interface Data {
  cache: string | undefined
}
export enum Type {
  date = 'date',
  email = 'email',
  file = 'file',
  number = 'number',
  tel = 'tel',
  text = 'text'
}

export default maxMixin.extend({
  name: 'FieldInput',
  components: { Field },
  mixins: [maxMixin],
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    alias: {
      type: String,
      required: true,
    },
    // The human readable name
    name: {
      type: String,
      required: true,
    },
    type: EnumProp<Type>(Type.text, Type),
    value: {
      type: String,
      required: true,
    },
    rules: {
      type: [String, Object] as PropType<string | object>,
      required: true,
    },
    placeholder: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    helpText: {
      type: String,
      default: undefined,
    },
    helpTitle: {
      type: String,
      default: '',
    },
    helpCaption: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data (): Data {
    return {
      cache: undefined,
    }
  },
  watch: {
    value: {
      handler (value): void {
        this.cache = value
      },
      immediate: true,
    },
  },
  computed: {
    isEmpty (): boolean {
      return !this.cache || this.cache.trim() === ''
    },
  },
  methods: {
    inputClasses (errors: Array<any>, changed: boolean): Record<string, boolean> {
      return {
        invalid: errors.length > 0,
        valid: errors.length === 0 && changed,
        empty: (!(this as any).cache || (this as any).cache.length === 0),
      }
    },
    handleFocus () {
      (this.$refs.parent as any).$emit('focus')
    },
    updateCache (value: string): void {
      this.cache = value
      this.$emit('input', this.cache);
      (this.$refs.field as InstanceType<typeof ValidationProvider>).validate(this.cache).then(({ valid }) => {
        if (valid) {
          this.$emit('change', this.cache)
        }
      })
    },
    publish (): void {
      (this.$refs.parent as any).$emit('blur')
    },
  },
})
</script>

<style lang="scss" scoped>
  @import '~@/assets/styles/core';

  input {
    padding: 1.5rem 2rem;
    border-radius: 0;
    border: 1px solid $border-color;
    display: block;
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;
    appearance: none;
    height: 5rem;
    min-height: 5rem;
  }

  input:hover {
    border-color: $color-light;
    box-shadow: 0 0 0 1px $color-light;
  }

  input:focus {
    border-color: $color-primary;
    box-shadow: 0 0 0 1px $color-primary;
    outline: none;
  }

  input.valid:focus, input.valid:hover {
    box-shadow: 0 0 0 1px $color-positive;
  }

  input.invalid:focus, input.invalid:hover {
    box-shadow: 0 0 0 1px $color-negative;
  }

  ::placeholder {
    font-style: italic;
    color: #CCC;
  }

  input.valid {
    border-color: $color-positive;
  }

  input[type="date"].empty:not(:focus) {
    font-style: italic;
    color: #CCC;
  }

  input.invalid {
    border-color: $color-negative;
  }
</style>
