<template>
  <ValidationProvider v-slot="{ changed, errors }" ref="field" :name="name" :rules="rules">
    <Field
      ref="parent"
      :name="name"
      :help-title="helpTitle"
      :help-text="helpText"
      :help-caption="helpCaption"
      :alias="alias"
      :description="description"
      :errors="errors"
      :changed="changed"
      :has-transitioning-label="type !== 'date'"
      :is-empty="isEmpty"
      :disabled="disabled"
      :rules="rules"
    >
      <VueDatePicker
        ref="datepicker"
        v-model="cacheDate"
        format="DD.MM.YYYY"
        format-header="dddd, DD. MMMM"
        output-format="DD.MM.YYYY"
        color="#03DAC6"
        fullscreen-mobile
        :locale="datePickerLocale"
        :placeholder="placeholder"
        :visible-years-number="displayedYears"
        :allowed-dates="allowedDates"
        :min-date="minDateValue"
        :max-date="maxDateValue"
        @onOpen="handleDatePickerOpen"
        @onChange="handleDatepickerChange"
      >
        <template #activator="{ date }">
          <input
            :id="`field-${alias}`"
            ref="activator"
            :name="alias"
            :value="getDateForInput(date)"
            :data-test="getDateForInput(date)"
            :class="inputClasses(errors, changed)"
            type="date"
            :placeholder="placeholder"
            :maxlength="max"
            :disabled="disabled"
            required="required"
            @click.prevent=""
            @blur="handleBlur($event.target.value)"
          >
        </template>
      </VueDatePicker>
    </Field>
  </ValidationProvider>
</template>

<script lang="ts">
import { PropType } from 'vue'
import dayjs from 'dayjs'
import { ValidationProvider } from 'vee-validate'
import EnumProp from '../../../types/EnumProp'
import maxMixin from './maxMixin'
import Field from './Field.vue'

interface Data {
  cache: string | undefined
  cacheDate: string | Date | undefined
}
export enum Type {
  date = 'date',
  email = 'email',
  file = 'file',
  number = 'number',
  tel = 'tel',
  text = 'text'
}

export default maxMixin.extend({
  name: 'FieldDatepicker',
  components: { Field },
  mixins: [maxMixin],
  model: {
    prop: 'value',
    event: 'change',
  },
  props: {
    alias: {
      type: String,
      required: true,
    },
    // The human readable name
    name: {
      type: String,
      required: true,
    },
    type: EnumProp<Type>(Type.text, Type),
    value: {
      type: String,
      required: true,
    },
    rules: {
      type: [String, Object] as PropType<string | object>,
      required: true,
    },
    placeholder: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    helpText: {
      type: String,
      default: undefined,
    },
    helpTitle: {
      type: String,
      default: '',
    },
    helpCaption: {
      type: String,
      default: '',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    allowedDates: {
      type: Function,
      default: undefined,
    },
    minDate: {
      type: [String, Function] as PropType<string | ((state: any) => string)>,
      default: undefined,
    },
    maxDate: {
      type: [String, Function] as PropType<string | ((state: any) => string)>,
      default: undefined,
    },
    isBirthdayPicker: {
      type: Boolean,
      default: false,
    },
    storeKey: {
      type: String,
      required: true,
    },
  },
  data (): Data {
    return {
      cache: undefined,
      cacheDate: undefined,
    }
  },
  watch: {
    value: {
      handler (value): void {
        this.cache = value
        if (!!value && value.trim().length > 0) {
          let date = dayjs(value, 'DD.MM.YYYY')
          if (!date.isValid()) {
            date = dayjs(value, 'YYYY-MM-DD')
          }
          this.cacheDate = date.isValid() ? date.toDate() : undefined
        }
      },
      immediate: true,
    },
    cacheDate: {
      handler (value): void {
        if (value) {
          this.cache = dayjs(value).format('DD.MM.YYYY')
        }
      },
      immediate: true,
    },
  },
  computed: {
    isEmpty (): boolean {
      return !this.cache || this.cache.trim() === ''
    },
    datePickerLocale (): { lang: string } {
      return { lang: this.$i18n.locale }
    },
    state () {
      return (this.$store as any).state[(this as any).storeKey]
    },
    maxDateValue (): string | undefined {
      return this.getMinMaxDateValue(this.maxDate)
    },
    minDateValue (): string | undefined {
      return this.getMinMaxDateValue(this.minDate)
    },
    displayedYears (): number {
      return this.isBirthdayPicker ? 100 : 20
    },
  },
  methods: {
    getMinMaxDateValue (val?: string | ((state: any) => string)): string | undefined {
      let result = val as string
      if (!val) {
        return undefined
      }
      if (typeof val === 'function' && this.state) {
        result = val((this as any).state)
      }
      if (result === 'today' || val === 'today') {
        return dayjs().format('YYYY-MM-DD')
      }
      return result
    },
    inputClasses (errors: Array<any>, changed: boolean): Record<string, boolean> {
      return {
        invalid: errors.length > 0,
        valid: errors.length === 0 && changed,
        empty: (!(this as any).cache || (this as any).cache.length === 0),
      }
    },
    handleFocus () {
      (this.$refs.parent as any).$emit('focus')
    },
    handleBlur (value: string) {
      const date = value.length > 0 ? value : undefined
      this.updateCache(date)
      this.publish()
    },
    updateCache (value: string | undefined): void {
      this.cache = value
      this.cacheDate = value
      this.$emit('input', this.cache);
      (this.$refs.field as InstanceType<typeof ValidationProvider>).validate(this.cache).then(({ valid }) => {
        if (valid) {
          this.$emit('change', this.cache)
        }
      })
    },
    publish (): void {
      (this.$refs.parent as any).$emit('blur')
    },
    getDateForInput (str: string): string {
      return dayjs(str, 'DD.MM.YYYY').format('YYYY-MM-DD')
    },
    handleDatepickerChange (): void {
      if (this.cacheDate) {
        this.updateCache(this.cacheDate as string)
      }
    },
    handleDatePickerOpen (): void {
      this.handleFocus()
      if (this.isBirthdayPicker) {
        setTimeout(() => { (this.$refs.datepicker as any).$refs.agenda.mode = 'year' })
      }
    },
  },
})
</script>

<style lang="scss" scoped>
  @import '~@/assets/styles/core';

  input {
    padding: 1.5rem 2rem;
    border-radius: 0;
    border: 1px solid $border-color;
    display: block;
    font-size: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s ease-out, box-shadow 0.2s ease-out;
    appearance: none;
    height: 5rem;
    min-height: 5rem;
  }

  input:hover {
    border-color: $color-light;
    box-shadow: 0 0 0 1px $color-light;
  }

  input:focus {
    border-color: $color-primary;
    box-shadow: 0 0 0 1px $color-primary;
    outline: none;
  }

  input.valid:focus, input.valid:hover {
    box-shadow: 0 0 0 1px $color-positive;
  }

  input.invalid:focus, input.invalid:hover {
    box-shadow: 0 0 0 1px $color-negative;
  }

  ::placeholder {
    font-style: italic;
    color: #CCC;
  }

  input.valid {
    border-color: $color-positive;
  }

  input[type="date"].empty:not(:focus) {
    font-style: italic;
    text-transform: uppercase;
    color: #CCC;
  }

  input.invalid {
    border-color: $color-negative;
  }
  input::-webkit-clear-button{
    -webkit-appearance: none;
    display: none;
    margin: 0;
  }
  input::-ms-clear, input::-moz-clear {
    display: none;
  }
  button#reset-button.datetime-reset-button {
    display: none;
  }
</style>
