<template>
  <fieldset>
    <h2>{{ caption }}</h2>
    <slot />
  </fieldset>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'FormSection',
  props: {
    caption: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  fieldset {
    padding: 1rem 0;
    margin: 1rem 0 2rem 0;
    border: none;
    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
      h2 {
        margin-top: 0;
      }
    }
  }

  fieldset + fieldset {
    border-top: 1px solid $color-light;
  }

    h2 {
      position: static;
      margin: 2em 0 1em 0;
      padding: 0;
      text-align: left;
      display: block;
      font-family: $font-family-sans;
      @include poly-fluid-sizing('font-size', (20rem:1.5rem, 60rem:2rem));
    }

    fieldset > p {
      @include poly-fluid-sizing('font-size', (20rem:1rem, 60rem:1.25rem));
      margin: 2rem 0;
      max-width: 40rem;
    }

    .e-field + .e-field {
      margin-top: 1rem;
    }

    .e-enhanced-button {
      margin-top: 2rem;
    }
</style>
