@import "core";

@import "main/base/elements";
@import "main/base/forms";
@import "main/base/print";
@import "main/base/tables";
@import "main/base/typography";
@import "main/base/tooltip";
@import "main/base/toast";

@import "main/utilities/sr-only";

.test-enter-active,
.test-leave-active {
  transition: opacity 0.1s;
}

.test-enter,
.test-leave-active {
  opacity: 0;
}
