<template>
  <div class="press-articles">
    <ul class="press-articles__list">
      <li v-for="(article, key) in displayedArticles" :key="key" class="press-articles__list__item">
        <ArticleCard :title="article.title" :text="article.teaser" :url="article.url" :logo-url="article.logoUrl" />
      </li>
    </ul>
    <Button v-if="collapsed" class="press-articles__load-button" @click="displayAll">
      {{ $t('pages.press.articles-section.load_more') }}
    </Button>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import dayjs, { Dayjs } from 'dayjs'
import ArticleCard from '@/components/elements/ArticleCard.vue'
import Button from '@/components/elements/Button.vue'
import pressArticles from '~/content/pressArticles.json'

interface Article {
  date: string | Dayjs
  title: string
  teaser: string
  url: string,
  logoUrl: string
}

interface Data {
  collapsed: boolean
}

export default Vue.extend({
  name: 'PressArticles',
  components: {
    ArticleCard,
    Button,
  },
  data (): Data {
    return {
      collapsed: true,
    }
  },
  computed: {
    displayedArticles (): Array<Article> {
      if (!this.collapsed) {
        return this.articles
      }
      return this.articles.slice(0, 6)
    },
    articles (): Array<Article> {
      return (pressArticles as unknown as Array<Article>)
        .map(article => ({
          ...article,
          date: dayjs(article.date, 'YYYY-MM-DD'),
        }))
        .sort((a, b) => {
          if (a.date.isBefore(b.date)) {
            return 1
          }
          if (a.date.isAfter(b.date)) {
            return -1
          }
          return 0
        })
    },
  },
  methods: {
    displayAll (): void {
      this.collapsed = false
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core.scss";

  .press-articles__list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    &__item {
      display: flex;
    }
    margin-bottom: 3rem;
  }
  .press-articles__load-button {
    margin: 0 auto;
  }
</style>
