<template>
  <div class="main">
    <head-section />
    <div>
      <nuxt v-if="!$slots.default" />
      <slot />
    </div>
    <footer-section :items="footerLinks" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { localize } from 'vee-validate'
import HeadSection from '@/components/modules/HeadSection.vue'
import FooterSection from '@/components/modules/FooterSection.vue'

export default Vue.extend({
  name: 'DefaultLayout',
  components: {
    HeadSection,
    FooterSection,
  },
  data (): any {
    return {
      footerLinks: [
        { title: this.$t('footer.links.project'), to: this.localePath('project') },
        { title: this.$t('footer.links.privacy'), to: this.localePath('privacy') },
        { title: this.$t('footer.links.about'), to: this.localePath('about') },
      ],
    }
  },
  head (): any {
    const i18nSeo = this.$nuxtI18nSeo()
    return {
      htmlAttrs: {
        ...i18nSeo.htmlAttrs,
      },
      title: this.$t('meta.title'),
      meta: [
        ...i18nSeo.meta,
        { hid: 'description', name: 'description', content: this.$t('meta.description') },
        { hid: 'og:title', name: 'og:title', property: 'og:title', content: this.$t('meta.title') },
        { hid: 'og:site_name', name: 'og:title', property: 'og:title', content: this.$t('meta.title') },
        { hid: 'og:description', name: 'og:description', property: 'og:description', content: this.$t('meta.description') },
        { hid: 'twitter-title', name: 'twitter:title', content: this.$t('meta.title') },
        { hid: 'twitter-description', name: 'twitter:description', content: this.$t('meta.description') },
      ],
      link: [
        ...i18nSeo.link,
      ],
    }
  },
  mounted () {
    localize(this.$i18n.locale)
  },
})
</script>

<style lang="scss" scoped>
  .main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    & > * {
      flex: 1;
    }
    & > .e-container {}
    header, footer {
      flex: 0;
    }
  }
</style>
