<template>
  <div>
    <container width="normal">
      <h1>{{ heading }}</h1>
      <p>{{ lead }}</p>
      <sitemap />
    </container>
  </div>
</template>

<script lang="ts">
import Vue, { PropType } from 'vue'
import { localize } from 'vee-validate'
import Container from '@/components/elements/Container.vue'
import Sitemap from '@/components/modules/Sitemap.vue'

export default Vue.extend({
  components: {
    Container,
    Sitemap,
  },
  props: {
    error: {
      type: Object as PropType<any>,
      required: true,
    },
  },
  computed: {
    heading (): string {
      if (this.$te(`pages.error.head-section.heading.${this.error.statusCode}`)) {
        return this.$t(`pages.error.head-section.heading.${this.error.statusCode}`) as string
      }
      return this.$t('pages.error.head-section.heading.generic') as string
    },
    lead (): string {
      if (this.$te(`pages.error.head-section.lead.${this.error.statusCode}`)) {
        return this.$t(`pages.error.head-section.lead.${this.error.statusCode}`) as string
      }
      return this.$t('pages.error.head-section.lead.generic') as string
    },
  },
  mounted () {
    localize(this.$i18n.locale)
  },
})
</script>
