<template>
  <default-layout>
    <Container>
      <client-only>
        <FormProgressBar
          v-if="form"
          :progress="form.progress"
          :current-step-key="currentStepConfig ? currentStepConfig.section.progressKey : undefined"
        />
        <nuxt />
      </client-only>
    </Container>
  </default-layout>
</template>

<script lang="ts">
import Vue from 'vue'
import Container from '@/components/elements/Container.vue'
import DefaultLayout from '@/layouts/default.vue'
import { formMap, Form, formIDs, STEP_IDS, Step } from '~/content/forms'
import FormProgressBar from '~/components/modules/form/FormProgressBar.vue'

type VueTypeDef = {
  currentStep: keyof STEP_IDS
  currentStepConfig: Step,
  form: Form
  navigateToKey: (key: 'previous' | 'next') => void
}

const Component = Vue.extend({
  data (): VueTypeDef {
    // @ts-ignore
    return {}
  },
})

export default Component.extend({
  name: 'FormLayout',
  layout: 'default',
  components: {
    DefaultLayout,
    Container,
    FormProgressBar,
  },
  computed: {
    form (): Form | undefined {
      const id = this.$route.params.form! as keyof typeof formMap
      if (!id) {
        return undefined
      }
      return formMap[id].form
    },
    currentStepConfig () {
      // @ts-ignore
      return this.form.steps[this.currentStep]
    },
    currentStep: {
      get () {
        return this.$store.getters[this.form.storeKey + '/getField']('currentStep')
      },
      set (newValue) {
        return this.$store.commit(this.form.storeKey + '/updateField', {
          path: 'currentStep',
          value: newValue,
        })
      },
    },
  },
  validate ({ params }): boolean | Promise<boolean> {
    return !!params.form && formIDs.includes(params.form)
  },
})
</script>
