<template>
  <div>
    <container padding="normal">
      <h2>Impressum</h2>
      <p>
        Digitales Wartezimmer GbR<br>
        <br>
        <i>Gesellschafter:</i><br>
        Benedikt Achatz<br>
        Bernhard Wittmann<br>
        Johanna Grosse Rueschkamp<br>
        Johannes Gottstein<br>
        Lena Hieber<br>
        Sascha Nos<br>
        Theresa Willem<br>
        Till Sanders<br>
        <br>
        Rostockerstraße 41<br>
        10553 Berlin
      </p>

      <h2>Kontakt</h2>
      <p>Post: Digitales Wartezimmer GbR, Rostockerstraße 41, 10553 Berlin, Germany</p>
      <p>E-Mail: <a href="mailto:info@digitales-wartezimmer.org">info@digitales-wartezimmer.org</a></p>

      <h2>Geltungsbereich</h2>
      <p>
        Das obenstehende Impressum gilt für diese Webseite sowie die nachfolgend genannten Social-Media-Präsenzen:
      </p>
      <ul>
        <li>Instagram: <a href="https://www.instagram.com/digitales_wartezimmer/" target="_blank">https://www.instagram.com/digitales_wartezimmer/</a></li>
        <li>Twitter: <a href="https://twitter.com/Dig_Wartezimmer" target="_blank">https://twitter.com/Dig_Wartezimmer</a></li>
        <li>Facebook: <a href="https://www.facebook.com/DigitalesWartezimmer/" target="_blank">https://www.facebook.com/DigitalesWartezimmer/</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/company/digitales-wartezimmer/" target="_blank">https://www.linkedin.com/company/digitales-wartezimmer/</a></li>
      </ul>

      <br>
      <br>

      <h2>Imprint</h2>
      <p>
        Digitales Wartezimmer GbR<br>
        <br>
        <i>Shareholders:</i><br>
        Benedikt Achatz<br>
        Bernhard Wittmann<br>
        Johanna Grosse Rueschkamp<br>
        Johannes Gottstein<br>
        Lena Hieber<br>
        Sascha Nos<br>
        Theresa Willem<br>
        Till Sanders<br>
        <br>
        Rostockerstraße 41<br>
        10553 Berlin<br>
        Germany
      </p>

      <h2>Contact</h2>
      <p>Postal mail: Digitales Wartezimmer GbR, Rostockerstraße 41, 10553 Berlin, Germany</p>
      <p>E-Mail: <a href="mailto:info@digitales-wartezimmer.org">info@digitales-wartezimmer.org</a></p>

      <h2>Scope</h2>
      <p>
        This imprint applies for this website as well as the following social media sites:
      </p>
      <ul>
        <li>Instagram: <a href="https://www.instagram.com/digitales_wartezimmer/" target="_blank">https://www.instagram.com/digitales_wartezimmer/</a></li>
        <li>Twitter: <a href="https://twitter.com/Dig_Wartezimmer" target="_blank">https://twitter.com/Dig_Wartezimmer</a></li>
        <li>Facebook: <a href="https://www.facebook.com/DigitalesWartezimmer/" target="_blank">https://www.facebook.com/DigitalesWartezimmer/</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/company/digitales-wartezimmer/" target="_blank">https://www.linkedin.com/company/digitales-wartezimmer/</a></li>
      </ul>
    </container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Container from '@/components/elements/Container.vue'

export default Vue.extend({
  name: 'AboutPage',
  components: {
    Container,
  },
})
</script>
