<template>
  <div>
    <container padding="normal">
      <h2>{{ $t('pages.coming-soon.head-section.heading') }}</h2>
      <p>{{ $t('pages.coming-soon.head-section.lead') }}</p>
      <p class="p-coming-soon__text--centered">
        <Button :to="localePath('/')" :link="true" :icon="['fas', 'arrow-right']">
          {{ $t('pages.coming-soon.back') }}
        </Button>
      </p>
      <img src="~/assets/illustrations/waiting_room.svg" alt="">
    </container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Container from '@/components/elements/Container.vue'
import Button from '@/components/elements/Button.vue'

export default Vue.extend({
  name: 'ComingSoonPage',
  components: {
    Container,
    Button,
  },
})
</script>

<style lang="scss" scoped>
  img {
    display: block;
    margin: 0 auto;
    margin-bottom: 8rem;
    margin-top: 4rem;
    max-width: 100%;
  }

  .p-coming-soon__text--centered {
    display: flex;
    justify-content: center;
  }
</style>
