<template>
  <LandingPageContent :title="$t('pages.home.title')" :description="$t('pages.home.description')" form-url="/forms/master?startOver=true" />
</template>

<script lang="ts">
import Vue from 'vue'
import LandingPageContent from '@/components/modules/LandingPageContent.vue'

export default Vue.extend({
  name: 'IndexPage',
  components: {
    LandingPageContent,
  },
})
</script>

<style lang="scss" scoped>

</style>
