<template>
  <div>
    <Container width="wide" padding="normal" margin-y="none">
      <div class="p-press_head-buttons">
        <Button
          to="mailto:info@digitales-wartezimmer.org"
          :external="true"
          :link="true"
          theme="secondary"
          :icon="['fas', 'mail-bulk']"
          width="wide"
        >
          {{ $t('pages.press.head-section.links.mailto.caption') }}
        </Button>
        <Button
          :to="'/press/material.zip'"
          :external="true"
          :link="true"
          theme="tertiary"
          :icon="['fas', 'download']"
          width="wide"
        >
          {{ $t('pages.press.head-section.links.download-material.caption') }}
        </Button>
      </div>
    </Container>
    <section>
      <Container width="wide" padding="normal" margin-y="none">
        <h2>{{ $t('pages.press.articles-section.title') }}</h2>
        <p v-for="(paragraph, key) in $t('pages.press.articles-section.paragraphs')" :key="key">
          {{ paragraph }}
        </p>
        <PressArticles />
      </Container>
    </section>
    <section>
      <Container width="wide" padding="normal" margin-y="none">
        <h2>{{ $t('pages.press.material-section.title') }}</h2>
        <p v-for="(paragraph, key) in $t('pages.press.material-section.paragraphs')" :key="key">
          {{ paragraph }}
        </p>
        <br>
        <big-links
          :links="[{
            to: 'mailto:info@digitales-wartezimmer.org',
            external: true,
            caption: $t('pages.press.material-section.links.mailto.caption'),
            description: $t('pages.press.material-section.links.mailto.description'),
            icon: ['fas', 'mail-bulk'],
            theme: 'secondary'
          }, {
            to: '/press/material.zip',
            download: true,
            caption: $t('pages.press.material-section.links.download-material.caption'),
            description: $t('pages.press.material-section.links.download-material.description'),
            icon: ['fas', 'download'],
            theme: 'tertiary'
          }]"
        />
        <br>
      </Container>
    </section>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import BigLinks from '@/components/modules/BigLinks.vue'
import Button from '@/components/elements/Button.vue'
import Container from '@/components/elements/Container.vue'
import PressArticles from '@/components/specific/press/PressArticles.vue'

export default Vue.extend({
  name: 'PressPage',
  components: {
    PressArticles,
    BigLinks,
    Container,
    Button,
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .p-section-separator {
    margin: 4rem 0;
    $color: #E0E0E0;
    color: $color;
    background-color: $color;
    @include poly-fluid-sizing('margin-left', (20rem:1rem, 80rem:5rem));
    @include poly-fluid-sizing('margin-right', (20rem:1rem, 80rem:5rem));
  }

  .p-press_head-buttons {
    display: flex;
    @include poly-fluid-sizing('max-width', (20rem:20rem, 80rem:70rem));
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    position: relative;

    & > .e-button {
      display: block;
      text-align: center;
      margin: 0 1rem 1rem;
      @include poly-fluid-sizing('max-width', (20rem:5rem, 80rem:25rem));
      @include poly-fluid-sizing('min-width', (20rem:10rem, 80rem:20rem));
      @include poly-fluid-sizing('padding-top', (20rem:1rem, 80rem:2rem));
      @include poly-fluid-sizing('padding-bottom', (20rem:1rem, 80rem:2rem));
    }
  }
</style>
