<template>
  <div>
    <container padding="normal">
      <h2>Einleitung</h2>
      <p>
        Mit der folgenden Datenschutzerklärung möchten wir Sie darüber aufklären, welche Arten Ihrer
        personenbezogenen Daten (nachfolgend auch kurz als „Daten“ bezeichnet) wir zu welchen
        Zwecken und in welchem Umfang verarbeiten. Die Datenschutzerklärung gilt für alle von uns
        durchgeführten Verarbeitungen personenbezogener Daten, sowohl im Rahmen der Nutzung dieser
        Website und ihrer Funktionen sowie innerhalb externer Onlinepräsenzen, wie z.B. unserer
        Social-Media-Profile (nachfolgend zusammenfassend bezeichnet als „Onlineangebot“).
      </p>
      <p>
        Die verwendeten Begriffe sind nicht geschlechtsspezifisch.
      </p>
      <p>Stand: 12. November 2020</p>

      <h2>Inhaltsübersicht</h2>
      <ul>
        <li><a href="#verantwortlich">Verantwortlich</a></li>
        <li><a href="#uebersicht-der-verarbeitungen">Übersicht der Verarbeitungen</a></li>
        <li><a href="#rechtsgrundlagen">Maßgebliche Rechtsgrundlagen</a></li>
        <li><a href="#sicherheitsmassnahmen">Sicherheitsmaßnahmen</a></li>
        <li><a href="#personenbezogene-daten">Übermittlung und Offenbarung von personenbezogenen Daten</a></li>
        <li><a href="#covid-19-kontaktformular">COVID-19 - Kontaktformular</a></li>
        <li><a href="#kontaktaufnahme">Kontaktaufnahme</a></li>
        <li><a href="#soziale-netzwerke">Präsenzen in sozialen Netzwerken</a></li>
        <li><a href="#cookies">Cookies</a></li>
        <li><a href="#loeschung">Löschung von Daten</a></li>
        <li><a href="#aenderung">Änderung und Aktualisierung der Datenschutzerklärung</a></li>
        <li><a href="#rechte">Rechte der betroffenen Personen</a></li>
        <li><a href="#begriffsdefinitionen">Begriffsdefinitionen</a></li>
      </ul>

      <h2 id="verantwortlich">
        Verantwortlich im Sinne der DSGVO ist die:
      </h2>
      <p>
        <strong>Digitales Wartezimmer GbR</strong>
      </p>
      <p>
        Benedikt Achatz<br>
        Bernhard Wittmann<br>
        Johanna Grosse Rueschkamp<br>
        Johannes Gottstein<br>
        Lena Hieber<br>
        Sascha Nos<br>
        Theresa Willem<br>
        Till Sanders<br>
      </p>
      <p>
        Rostockerstraße 41<br>
        10553 Berlin
      </p>
      <p>
        Kontakt für Datenschutzanfragen:
        <a href="mailto:datenschutz@digitales-wartezimmer.org" target="_blank" rel="noopener">
          datenschutz@digitales-wartezimmer.org
        </a>
      </p>
      <p>
        Impressum:
        <a href="https://digitales-wartezimmer.org/about" target="_blank" rel="noopener">
          https://digitales-wartezimmer.org/about
        </a>
      </p>

      <h2 id="uebersicht-der-verarbeitungen">
        Übersicht der Verarbeitungen
      </h2>
      <p>
        Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer
        Verarbeitung zusammen und verweist auf die betroffenen Personen.
      </p>

      <h3>Arten der verarbeiteten Daten</h3>
      <ul>
        <li>Bestandsdaten (z.B. Namen, Adressen).</li>
        <li>Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos).</li>
        <li>Sensible Inhaltsdaten (z.B. Informationen über Grunderkrankungen und Symptome).</li>
        <li>Kontaktdaten (z.B. E-Mail, Telefonnummern).</li>
        <li>Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).</li>
        <li>Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten).</li>
      </ul>

      <h3>Kategorien betroffener Personen</h3>
      <ul>
        <li>Kommunikationspartner.</li>
        <li>Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
      </ul>

      <h3>Zwecke der Verarbeitung</h3>
      <ul>
        <li>Nutzung der Funktionalitäten der Webseite.</li>
        <li>Kontaktanfragen und Kommunikation, einschließlich über soziale Medien.</li>
        <li>Remarketing und Tracking (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von Cookies)</li>
        <li>Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher).</li>
      </ul>

      <h2 id="rechtsgrundlagen">
        Maßgebliche Rechtsgrundlagen
      </h2>
      <p>
        Im Folgenden teilen wir die Rechtsgrundlagen der Datenschutzgrundverordnung (DSGVO), auf
        deren Basis wir die personenbezogenen Daten verarbeiten, mit. Bitte beachten Sie, dass
        zusätzlich zu den Regelungen der DSGVO die nationalen Datenschutzvorgaben in Ihrem bzw.
        unserem Wohn- und Sitzland gelten können. Sollten ferner im Einzelfall speziellere
        Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der Datenschutzerklärung mit.
      </p>
      <ul>
        <li>
          <strong>Einwilligung (Art. 6 Abs. 1 S. 1 lit. a DSGVO)</strong> - Die betroffene Person
          hat ihre Einwilligung in die Verarbeitung der sie betreffenden personenbezogenen Daten für
          einen spezifischen Zweck oder mehrere bestimmte Zwecke gegeben.
        </li>
        <li>
          <strong>Vertragserfüllung und vorvertragliche Anfragen</strong> (Art. 6 Abs. 1 S. 1 lit.
          b. DSGVO) - Die Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei
          die betroffene Person ist, oder zur Durchführung vorvertraglicher Maßnahmen erforderlich,
          die auf Anfrage der betroffenen Person erfolgen.
        </li>
        <li>
          <strong>Berechtigte Interessen</strong> (Art. 6 Abs. 1 S. 1 lit. f. DSGVO) - Die
          Verarbeitung ist zur Wahrung der berechtigten Interessen des Verantwortlichen oder eines
          Dritten erforderlich, sofern nicht die Interessen oder Grundrechte und Grundfreiheiten der
          betroffenen Person, die den Schutz personenbezogener Daten erfordern, überwiegen.
        </li>
      </ul>
      <p>
        <strong>Nationale Datenschutzregelungen in Deutschland:</strong> Zusätzlich zu den
        Datenschutzregelungen der Datenschutz-Grundverordnung gelten nationale Regelungen zum
        Datenschutz in Deutschland. Hierzu gehört insbesondere das Bundesdatenschutzgesetz (BDSG).
      </p>

      <h2 id="sicherheitsmassnahmen">
        Sicherheitsmaßnahmen
      </h2>
      <p>
        Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der
        Technik, der Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke
        der Verarbeitung sowie der unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes
        der Bedrohung der Rechte und Freiheiten natürlicher Personen geeignete technische und
        organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu gewährleisten.
      </p>
      <p>
        Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und
        Verfügbarkeit von Daten durch Kontrolle des physischen und elektronischen Zugangs zu den
        Daten als auch des sie betreffenden Zugriffs, der Eingabe, der Weitergabe, der Sicherung der
        Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren eingerichtet, die eine
        Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung
        der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten
        bereits bei der Entwicklung bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend
        dem Prinzip des Datenschutzes, durch Technikgestaltung und durch datenschutzfreundliche
        Voreinstellungen.
      </p>
      <h2 id="personenbezogene-daten">
        Übermittlung und Offenbarung von personenbezogenen Daten
      </h2>
      <p>
        Im Rahmen unserer Verarbeitung von personenbezogenen Daten kommt es vor, dass die Daten an
        andere Stellen, Unternehmen, rechtlich selbstständige Organisationseinheiten oder Personen
        übermittelt oder sie ihnen gegenüber offengelegt werden. Zu den Empfängern dieser Daten
        gehören mit IT-Aufgaben beauftragte Dienstleister oder Anbieter von Diensten und Inhalten,
        die in eine Webseite eingebunden werden. In solchen Fall beachten wir die gesetzlichen
        Vorgaben und schließen insbesondere entsprechende Verträge bzw. Vereinbarungen, die dem
        Schutz Ihrer Daten dienen, mit den Empfängern Ihrer Daten ab.
      </p>

      <h2 id="covid-19-kontaktformular">
        COVID-19 - Kontaktformular
      </h2>
      <p>
        Mit dem COVID-19-Kontaktformular können Sie sich mit dem für Sie zuständigen Gesundheitsamt in Verbindung
        setzen, etwa wenn Sie mit einer Person Kontakt hatten, die nachweislich mit dem Coronavirus infiziert ist, oder
        wenn Sie kürzlich in einem COVID-19-Risikogebiet aufgehalten haben. In dem Formular werden neben persönlichen
        Daten (z.B. Anschrift, Telefonnummer) auch Informationen über Ihren Gesundheitszustand (z.B. Symptome,
        Grunderkrankungen, bestehende Schwangerschaft) abgefragt. Damit erheben wir auch so genannte besondere
        Kategorien personenbezogener Daten nach der DSGVO, auf deren Schutz wir besonderen Wert legen. Deshalb speichern
        wir die Formulardaten nicht.
      </p>
      <p>
        Wenn Sie das Formular absenden, wird (a) anhand Ihrer Postleitzahl das für Sie zuständige Gesundheitsamt
        ermittelt und (b) ein E-Mail-Entwurf generiert, den Sie kopieren oder direkt in Ihr E-Mail-Programm übernehmen
        können, um ihn selbst an das Gesundheitsamt zu verschicken. Es verbleiben keinerlei Kopien der Daten auf unseren
        Servern. Der weitere Umgang mit Ihren personenbezogenen Daten richtet sich nach den Datenschutzbestimmungen des
        jeweiligen Gesundheitsamtes.
      </p>
      <p>
        Bitte beachten Sie, dass durch unseren datensparsamen Ansatz die Ausübung Ihrer Datenschutz-Rechte im Einklang
        mit Art. 11 DSGVO beeinträchtigt ist. Da wir keine Daten von Ihnen speichern, können Sie etwa Ihre Einwilligung
        nicht mit Wirkung für die Zukunft widerrufen oder Auskunft über die Verwendung Ihrer Daten verlangen.
      </p>
      <ul>
        <li>
          <b>Verarbeitete Datenarten:</b> Bestandsdaten (z.B. Namen, Adressen), Kontaktdaten (z.B. E-Mail,
          Telefonnummern), Inhaltsdaten (z.B. Texteingaben, Fotografien, Videos), sensible Inhaltsdaten (z.B.
          Informationen über Grunderkrankungen und Symptome).
        </li>
        <li>
          <b>Betroffene Personen:</b> Nutzer (z.B. Webseitenbesucher, Nutzer von Onlinediensten).
        </li>
        <li>
          <b>Zwecke der Verarbeitung:</b> Ermittlung des für den Nutzer zuständigen Gesundheitsamtes sowie Generierung
          eines E-Mail-Entwurfes an dieses Gesundheitsamt.
        </li>
        <li>
          <b>Rechtsgrundlagen:</b> Einwilligung des Nutzers (Art. 6 Abs. 1 S. 1 lit. a und Art. 9 Abs. 2 lit. a DSGVO).
        </li>
      </ul>

      <h2 id="kontaktaufnahme">
        Kontaktaufnahme
      </h2>
      <p>
        Bei der Kontaktaufnahme mit uns (z.B. per Kontaktformular, E-Mail, Telefon oder via soziale
        Medien) werden die Angaben der anfragenden Personen verarbeitet, soweit dies zur
        Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.
      </p>
      <p>
        Die Beantwortung der Kontaktanfragen im Rahmen von vertraglichen oder vorvertraglichen
        Beziehungen erfolgt zur Erfüllung unserer vertraglichen Pflichten oder zur Beantwortung von
        (vor)vertraglichen Anfragen und im Übrigen auf Grundlage der berechtigten Interessen an der
        Beantwortung der Anfragen, etwa im Falle von Presseanfragen.
      </p>
      <ul>
        <li>
          <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen, Adressen),
          Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Texteingaben, Fotografien,
          Videos).
        </li>
        <li>
          <strong>Betroffene Personen:</strong> Kommunikationspartner.
        </li>
        <li>
          <strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation.
        </li>
        <li>
          <strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6
          Abs. 1 S. 1 lit. b. DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f.
          DSGVO).
        </li>
      </ul>

      <h2 id="soziale-netzwerke">
        Präsenzen in sozialen Netzwerken
      </h2>
      <p>
        Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem
        Rahmen Daten der Nutzer, um mit den dort aktiven Nutzern zu kommunizieren oder um
        Informationen über uns anzubieten.
      </p>
      <p>
        Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes der Europäischen
        Union verarbeitet werden können. Hierdurch können sich für die Nutzer Risiken ergeben, weil
        so z.B. die Durchsetzung der Rechte der Nutzer erschwert werden könnte.
      </p>
      <p>
        Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für
        Marktforschungs- und Werbezwecke verarbeitet. So können z.B. anhand des Nutzungsverhaltens
        und sich daraus ergebender Interessen der Nutzer Nutzungsprofile erstellt werden. Die
        Nutzungsprofile können wiederum verwendet werden, um z.B. Werbeanzeigen innerhalb und
        außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen.
        Zu diesen Zwecken werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in
        denen das Nutzungsverhalten und die Interessen der Nutzer gespeichert werden. Ferner können
        in den Nutzungsprofilen auch Daten unabhängig der von den Nutzern verwendeten Geräte
        gespeichert werden (insbesondere, wenn die Nutzer Mitglieder der jeweiligen Plattformen sind
        und bei diesen eingeloggt sind).
      </p>
      <p>
        Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der
        Widerspruchsmöglichkeiten (Opt-Out) verweisen wir auf die Datenschutzerklärungen und Angaben
        der Betreiber der jeweiligen Netzwerke.
      </p>
      <p>
        Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir
        darauf hin, dass diese am effektivsten bei den Anbietern geltend gemacht werden können. Nur
        die Anbieter haben jeweils Zugriff auf die Daten der Nutzer und können direkt entsprechende
        Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen, dann können
        Sie sich an uns wen den.
      </p>
      <ul>
        <li>
          <strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z.B. Namen, Adressen),
          Kontaktdaten (z.B. E-Mail, Telefonnummern), Inhaltsdaten (z.B. Texteingaben, Fotografien,
          Videos), Nutzungsdaten (z.B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten),
          Meta-/Kommunikationsdaten (z.B. Geräte-Informationen, IP-Adressen).
        </li>
        <li>
          <strong>Betroffene Personen:</strong> Nutzer (z.B. Webseitenbesucher, Nutzer von
          Onlinediensten).
        </li>
        <li>
          <strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation, Tracking
          (z.B. interessens-/verhaltensbezogenes Profiling, Nutzung von Cookies), Remarketing,
          Reichweitenmessung (z.B. Zugriffsstatistiken, Erkennung wiederkehrender Besucher).
        </li>
        <li>
          <strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f.
          DSGVO).
        </li>
      </ul>

      <h3>Eingesetzte Dienste und Diensteanbieter:</h3>
      <ul>
        <li>
          Instagram: Soziales Netzwerk; Dienstanbieter: Instagram Inc., 1601 Willow Road, Menlo
          Park, CA, 94025, USA; Website:
          <a
            href="https://www.instagram.com"
            target="_blank"
            rel="noopener"
          >
            https://www.instagram.com
          </a>
          ; Datenschutzerklärung:
          <a
            href="https://instagram.com/about/legal/privacy"
            target="_blank"
            rel="noopener"
          >
            https://instagram.com/about/legal/privacy
          </a>.
        </li>
        <li>
          Facebook: Soziales Netzwerk; Dienstanbieter: Facebook Ireland Ltd., 4 Grand Canal Square,
          Grand Canal Harbour, Dublin 2, Irland, Mutterunternehmen: Facebook, 1 Hacker Way, Menlo
          Park, CA 94025, USA; Website:
          <a
            href="https://www.facebook.com"
            target="_blank"
            rel="noopener"
          >
            https://www.facebook.com
          </a>
          ; Datenschutzerklärung:
          <a
            href="https://www.facebook.com/about/privacy;"
            target="_blank"
            rel="noopener"
          >
            https://www.facebook.com/about/privacy;
          </a>
          Widerspruchsmöglichkeit (Opt-Out): Einstellungen für Werbeanzeigen:
          <a
            href="https://www.facebook.com/settings?tab=ads;"
            target="_blank"
            rel="noopener"
          >
            https://www.facebook.com/settings?tab=ads;
          </a>
          Zusätzliche Hinweise zum Datenschutz: Vereinbarung über gemeinsame Verarbeitung
          personenbezogener Daten auf Facebook-Seiten:
          <a
            href="https://www.facebook.com/legal/terms/page_controller_addendum"
            target="_blank"
            rel="noopener"
          >
            https://www.facebook.com/legal/terms/page_controller_addendum
          </a>,
          Datenschutzhinweise für Facebook-Seiten:
          <a
            href="https://www.facebook.com/legal/terms/information_about_page_insights_data"
            target="_blank"
            rel="noopener"
          >
            https://www.facebook.com/legal/terms/information_about_page_insights_data
          </a>.
        </li>
        <li>
          LinkedIn: Soziales Netzwerk; Dienstanbieter: LinkedIn Ireland Unlimited Company, Wilton
          Place, Dublin 2, Irland; Website:
          <a
            href="https://www.linkedin.com"
            target="_blank"
            rel="noopener"
          >
            https://www.linkedin.com
          </a>
          ; Datenschutzerklärung:
          <a
            href="https://www.linkedin.com/legal/privacy-policy;"
            target="_blank"
            rel="noopener"
          >
            https://www.linkedin.com/legal/privacy-policy;
          </a>
          Widerspruchsmöglichkeit (Opt-Out):
          <a
            href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
            target="_blank"
            rel="noopener"
          >
            https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out
          </a>.
        </li>
        <li>
          Twitter: Soziales Netzwerk; Dienstanbieter: Twitter Inc., 1355 Market Street, Suite 900,
          San Francisco, CA 94103, USA; Datenschutzerklärung:
          <a
            href="https://twitter.com/de/privacy"
            target="_blank"
            rel="noopener"
          >
            https://twitter.com/de/privacy
          </a>,
          (Einstellungen)
          <a
            href="https://twitter.com/personalization;"
            target="_blank"
            rel="noopener"
          >
            https://twitter.com/personalization;
          </a>.
        </li>
        <li>
          YouTube: Soziales Netzwerk; Dienstanbieter: Google Ireland Limited, Gordon House, Barrow
          Street, Dublin 4, Irland, Mutterunternehmen: Google LLC, 1600 Amphitheatre Parkway,
          Mountain View, CA 94043, USA; Datenschutzerklärung:
          <a
            href="https://policies.google.com/privacy"
            target="_blank"
            rel="noopener"
          >
            https://policies.google.com/privacy
          </a>;
          Widerspruchsmöglichkeit (Opt-Out):
          <a
            href="https://adssettings.google.com/authenticated"
            target="_blank"
            rel="noopener"
          >
            https://adssettings.google.com/authenticated
          </a>.
        </li>
      </ul>

      <h2 id="cookies">
        Cookies
      </h2>
      <p>
        Auf unserer Webseite setzen wir so genannte Cookies ein. Dabei handelt es sich um Textdateien, die auf Ihrem
        Computer gespeichert und zu einem späteren Zeitpunkt durch uns wieder abgerufen werden können, etwa um Ihren
        Computer oder Ihr Mobiltelefon zu identifizieren. Wir setzen ausschließlich solche Cookies ein, die aus
        technischen Gründen für die Nutzung der Webseite zwingend erforderlich sind. Insbesondere wird, wenn Sie das
        COVID-19-Kontaktformular nutzen, ein so genannter Session Cookie erstellt. Dieser ermöglicht es, Ihre Angaben
        temporär zu speichern, damit diese bei einem neuen Laden der Seite nicht verloren gehen. Sämtliche Daten werden
        verschlüsselt gespeichert und mit Schließen des Browsers gelöscht. Wie im Abschnitt <a href="#covid-19-kontaktformular">„COVID-19-Kontaktformular“</a>
        beschrieben speichern wir keine Ihrer Angaben dauerhaft.
      </p>

      <h2 id="loeschung">
        Aufbewahrung und Löschung von Daten
      </h2>
      <p>
        Die von uns verarbeiteten Daten werden nach Maßgabe der gesetzlichen Vorgaben gelöscht,
        sobald deren zur Verarbeitung erlaubten Einwilligungen widerrufen werden oder sonstige
        Erlaubnisse entfallen (z.B., wenn der Zweck der Verarbeitung dieser Daten entfallen ist oder
        sie für den Zweck nicht mehr erforderlich sind).
      </p>
      <p>
        Sofern die Daten nicht gelöscht werden, weil sie für andere und gesetzlich zulässige Zwecke
        erforderlich sind, wird deren Verarbeitung auf diese Zwecke beschränkt. D.h., die Daten
        werden gesperrt und nicht für andere Zwecke verarbeitet. Das gilt z.B. für Daten, die aus
        handels- oder steuerrechtlichen Gründen aufbewahrt werden müssen oder deren Speicherung zur
        Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte
        einer anderen natürlichen oder juristischen Person erforderlich ist.
      </p>
      <p>
        Weitere Hinweise zu der Löschung von personenbezogenen Daten können ferner im Rahmen der
        einzelnen Datenschutzhinweise dieser Datenschutzerklärung erfolgen.
      </p>

      <h2 id="aenderung">
        Änderung und Aktualisierung der Datenschutzerklärung
      </h2>
      <p>
        Wir bitten Sie, sich regelmäßig über den Inhalt unserer Datenschutzerklärung zu informieren.
        Wir passen die Datenschutzerklärung an, sobald die Änderungen der von uns durchgeführten
        Datenverarbeitungen dies erforderlich machen. Wir informieren Sie, sobald durch die
        Änderungen eine Mitwirkungshandlung Ihrerseits (z.B. Einwilligung) oder eine sonstige
        individuelle Benachrichtigung erforderlich wird.
      </p>
      <p>
        Sofern wir in dieser Datenschutzerklärung Adressen und Kontaktinformationen von Unternehmen
        und Organisationen angeben, bitten wir zu beachten, dass die Adressen sich über die Zeit
        ändern können und bitten die Angaben vor Kontaktaufnahme zu prüfen.
      </p>

      <h2 id="rechte">
        Rechte der betroffenen Personen
      </h2>
      <p>
        Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu, die sich insbesondere aus
        Art. 15 bis 18 und 21 DSGVO ergeben:
      </p>
      <ul>
        <li>
          <strong>
            Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen
            Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden
            personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt,
            Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes
            Profiling. Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um
            Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die
            Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung
            einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in
            Verbindung steht.
          </strong>
        </li>
        <li>
          <strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht, erteilte
          Einwilligungen jederzeit zu widerrufen.
        </li>
        <li>
          <strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung darüber zu
          verlangen, ob betreffende Daten verarbeitet werden und auf Auskunft über diese Daten sowie
          auf weitere Informationen und Kopie der Daten entsprechend den gesetzlichen Vorgaben.
        </li>
        <li>
          <strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den gesetzlichen Vorgaben
          das Recht, die Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie
          betreffenden unrichtigen Daten zu verlangen.
        </li>
        <li>
          <strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong> Sie haben nach
          Maßgabe der gesetzlichen Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten
          unverzüglich gelöscht werden, bzw. alternativ nach Maßgabe der gesetzlichen Vorgaben eine
          Einschränkung der Verarbeitung der Daten zu verlangen.
        </li>
        <li>
          <strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie betreffende
          Daten, die Sie uns bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem
          strukturierten, gängigen und maschinenlesbaren Format zu erhalten oder deren Übermittlung
          an einen anderen Verantwortlichen zu fordern.
        </li>
        <li>
          <strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben ferner nach Maßgabe der
          gesetzlichen Vorgaben das Recht, bei einer Aufsichtsbehörde, insbesondere in dem
          Mitgliedstaat Ihres gewöhnlichen Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des
          mutmaßlichen Verstoßes Beschwerde einzulegen, wenn Sie der Ansicht sind, dass die
          Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt.
        </li>
      </ul>

      <h2 id="begriffsdefinitionen">
        Begriffsdefinitionen
      </h2>
      <p>
        In diesem Abschnitt erhalten Sie eine Übersicht über die in dieser Datenschutzerklärung
        verwendeten Begrifflichkeiten. Viele der Begriffe sind dem Gesetz entnommen und vor allem im
        Art. 4 DSGVO definiert. Die gesetzlichen Definitionen sind verbindlich. Die nachfolgenden
        Erläuterungen sollen dagegen vor allem dem Verständnis dienen. Die Begriffe sind
        alphabetisch sortiert.
      </p>
      <ul>
        <li>
          <strong>Personenbezogene Daten:</strong> "Personenbezogene Daten“ sind alle Informationen,
          die sich auf eine identifizierte oder identifizierbare natürliche Person (im Folgenden
          "betroffene Person“) beziehen; als identifizierbar wird eine natürliche Person angesehen,
          die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen,
          zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung (z.B. Cookie) oder zu einem
          oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen,
          physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen
          Identität dieser natürlichen Person sind.
        </li>
        <li>
          <strong>Reichweitenmessung:</strong> Die Reichweitenmessung (auch als Web Analytics
          bezeichnet) dient der Auswertung der Besucherströme eines Onlineangebotes und kann das
          Verhalten oder Interessen der Besucher an bestimmten Informationen, wie z.B. Inhalten von
          Webseiten, umfassen. Mit Hilfe der Reichweitenanalyse können Webseiteninhaber z.B.
          erkennen, zu welcher Zeit Besucher ihre Webseite besuchen und für welche Inhalte sie sich
          interessieren. Dadurch können sie z.B. die Inhalte der Webseite besser an die Bedürfnisse
          ihrer Besucher anpassen. Zu Zwecken der Reichweitenanalyse werden häufig pseudonyme
          Cookies und Web-Beacons eingesetzt, um wiederkehrende Besucher zu erkennen und so genauere
          Analysen zur Nutzung eines Onlineangebotes zu erhalten.
        </li>
        <li>
          <strong>Remarketing:</strong> Vom "Remarketing“ bzw. "Retargeting“ spricht man, wenn z.B.
          zu Werbezwecken vermerkt wird, für welche Produkte sich ein Nutzer auf einer Webseite
          interessiert hat, um den Nutzer auf anderen Webseiten an diese Produkte, z.B. in
          Werbeanzeigen, zu erinnern.
        </li>
        <li>
          <strong>Tracking:</strong> Vom "Tracking“ spricht man, wenn das Verhalten von Nutzern über
          mehrere Onlineangebote hinweg nachvollzogen werden kann. Im Regelfall werden im Hinblick
          auf die genutzten Onlineangebote Verhaltens- und Interessensinformationen in Cookies oder
          auf Servern der Anbieter der Trackingtechnologien gespeichert (sogenanntes Profiling).
          Diese Informationen können anschließend z.B. eingesetzt werden, um den Nutzern
          Werbeanzeigen anzuzeigen, die voraussichtlich deren Interessen entsprechen.
        </li>
        <li>
          <strong>Verantwortlicher:</strong> Als "Verantwortlicher“ wird die natürliche oder
          juristische Person, Behörde, Einrichtung oder andere Stelle, die allein oder gemeinsam mit
          anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten
          entscheidet, bezeichnet.
        </li>
        <li>
          <strong>Verarbeitung:</strong> “Verarbeitung” ist jeder mit oder ohne Hilfe
          automatisierter Verfahren ausgeführte Vorgang oder jede solche Vorgangsreihe im
          Zusammenhang mit personenbezogenen Daten. Der Begriff reicht weit und umfasst praktisch
          jeden Umgang mit Daten, sei es das Erheben, das Auswerten, das Speichern, das Übermitteln
          oder das Löschen.
        </li>
      </ul>
    </container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Container from '@/components/elements/Container.vue'

export default Vue.extend({
  name: 'PrivacyPage',
  components: {
    Container,
  },
})
</script>
