<template>
  <div>
    <Container width="wide" padding="normal" margin-y="none">
      <section>
        <h2>{{ $t('pages.project.vision-section.title') }}</h2>
        <div class="p-vision-container">
          <div class="p-vision-container__icon">
            <p class="p-vision-container__icon__text">
              ”
            </p>
          </div>
          <div class="p-vision-container__text">
            <p v-for="(paragraph, key) in $t('pages.project.vision-section.paragraphs')" :key="key">
              {{ paragraph }}
            </p>
          </div>
        </div>
      </section>
    </Container>
    <Container width="wide" padding="normal" margin-y="none">
      <section>
        <h2>{{ $t('pages.project.mission-section.title') }}</h2>
        <p v-for="(paragraph, key) in $t('pages.project.mission-section.paragraphs')" :key="key">
          {{ paragraph }}
        </p>
      </section>
      <hr class="p-section-separator">
      <section>
        <h2>{{ $t('pages.project.team-section.title') }}</h2>
        <p v-for="(paragraph, key) in $t('pages.project.team-section.paragraphs')" :key="key">
          {{ paragraph }}
        </p>
        <Container width="wide">
          <team :members="team()" />
        </Container>
      </section>
      <hr class="p-section-separator">

      <section>
        <h2>{{ $t('pages.project.contribution-section.title') }}</h2>
        <p v-for="(paragraph, key) in $t('pages.project.contribution-section.paragraphs')" :key="key">
          {{ paragraph }}
        </p>
        <br>
        <big-links
          :links="[{
            to: 'mailto:info@digitales-wartezimmer.org',
            external: true,
            caption: $t('pages.project.project-section.links.mailto.caption'),
            description: $t('pages.project.project-section.links.mailto.description'),
            icon: ['fas', 'mail-bulk'],
            theme: 'secondary'
          }, {
            to: 'https://gitlab.com/digitales-wartezimmer',
            external: true,
            caption: $t('pages.project.project-section.links.gitlab.caption'),
            description: $t('pages.project.project-section.links.gitlab.description'),
            icon: ['fab', 'gitlab'],
            theme: 'gitlab'
          }]"
        />
      </section>
    </Container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import BigLinks from '@/components/modules/BigLinks.vue'
import Container from '@/components/elements/Container.vue'
import Team from '@/components/elements/Team.vue'
import teamMembers from '@/content/teamMembers.yaml'

export default Vue.extend({
  name: 'IndexPage',
  components: {
    BigLinks,
    Container,
    Team,
  },
  methods: {
    team: (): any => {
      return teamMembers
    },
  },
})
</script>

<style lang="scss" scoped>
  @import "~@/assets/styles/core";

  .p-section-separator {
    margin: 6rem 0;
    $color: #E0E0E0;
    color: $color;
    background-color: $color;
    @include poly-fluid-sizing('margin-left', (20rem:1rem, 80rem:5rem));
    @include poly-fluid-sizing('margin-right', (20rem:1rem, 80rem:5rem));
  }

  .p-vision-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    &__icon {
      flex: 1 0 auto;
      margin-right: 2rem;

      @media (max-width: 40rem) {
        display: none;
      }

      &__text {
        color: $color-primary;
        opacity: 0.6;
        @include poly-fluid-sizing('font-size', (20rem:20rem, 80rem:26rem));
        @include poly-fluid-sizing('max-height', (20rem:10rem, 80rem:13rem));
        line-height: 1;
        margin: 0
      }
    }

    &__text {
      flex: 1 1 auto;
      white-space: normal;
      p {
        @include poly-fluid-sizing('font-size', (20rem:1rem, 80rem:1.75rem));
      }
    }
  }
</style>
