<template>
  <LandingPageContent :title="$t('pages.registration-as-contact.title')" :description="$t('pages.registration-as-contact.description')" form-url="/forms/registration-as-contact?startOver=true" />
</template>

<script lang="ts">
import Vue from 'vue'
import LandingPageContent from '@/components/modules/LandingPageContent.vue'

export default Vue.extend({
  name: 'RegistrationAsContactPage',
  components: {
    LandingPageContent,
  },
})
</script>

<style lang="scss" scoped>

</style>
