<template>
  <div>
    <container width="normal">
      <sitemap />
    </container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Container from '@/components/elements/Container.vue'
import Sitemap from '@/components/modules/Sitemap.vue'

export default Vue.extend({
  name: 'SitemapPage',
  components: {
    Container,
    Sitemap,
  },
})
</script>
