<template>
  <LandingPageContent :title="$t('pages.travel-return.title')" :description="$t('pages.travel-return.description')" form-url="/forms/travel-return?startOver=true" />
</template>

<script lang="ts">
import Vue from 'vue'
import LandingPageContent from '@/components/modules/LandingPageContent.vue'

export default Vue.extend({
  name: 'TravelReturnPage',
  components: {
    LandingPageContent,
  },
})
</script>

<style lang="scss" scoped>

</style>
